In [1]:
# импортирование библиотеки pandas
import pandas as pd

# Создаем объект Series в переменной s_1
# индексы - по умолчанию представлены объектом RangeIndex (монотонный диапазон целых чисел)
# имя объекта Series не задано
# тип данных Series определен автоматически (int64) в момент создания объекта
s_1 = pd.Series(data=['a', 'b', 'c', 'd', 'e'])
s_1

0    a
1    b
2    c
3    d
4    e
dtype: object

In [2]:
# Создаем объект Series в переменной s_2
# задаем index (в результате получаем метки-индексы (labels))
# задаем имя объекта Series
# тип данных Series определен автоматически (int64) в момент создания объекта
s_2 = pd.Series(data=[1,3,5,7,9], index=['one','three','five','seven','nine'], name='odd_numbers')
s_2

one      1
three    3
five     5
seven    7
nine     9
Name: odd_numbers, dtype: int64

In [3]:
# Создаем объект DataFrame в переменной df
age = [['George', 35, 'Male'], ['Ann', 28, 'Female'],
       ['Tom', 32, 'Male'], ['Cathy', 25, 'Female']]
df = pd.DataFrame(age, columns=['Name', 'Age', 'Gender'])

In [4]:
df

     Name  Age  Gender
0  George   35    Male
1     Ann   28  Female
2     Tom   32    Male
3   Cathy   25  Female

In [5]:
# здесь объект Series - это колонка структуры DataFrame
# данные структуры Series однотипные (int64) - весь ряд представлен в виде целых чисел (int64)
# имя структуры Series - 'Age' - это имя запрошенной колонки структуры DataFrame в переменной df
df['Age']

0    35
1    28
2    32
3    25
Name: Age, dtype: int64

In [6]:
df

     Name  Age  Gender
0  George   35    Male
1     Ann   28  Female
2     Tom   32    Male
3   Cathy   25  Female

In [7]:
# здесь объект Series - это строка структуры DataFrame
# данные структуры Series разнотипные (object):
# метка 'Name' - строковое значение
# метка 'Age' - целое число
# метка 'Gender' строковое значение
# имя серии - 1 (целочисленная позиция строки 1 структуры DataFrame в переменной df)
df.iloc[1]

Name         Ann
Age           28
Gender    Female
Name: 1, dtype: object

In [8]:
# доступ к элементу структуры Series по целочисленной позиции (1)
s_2.iloc[1]

3

In [9]:
# доступ доступ к элементу структуры Series по метке ('three')
s_2.loc['three']

3