In [ ]:
# импортирование библиотеки pandas
import pandas as pd

In [ ]:
# Создаем объект DataFrame со множеством строк и столбцов в переменной df_1
age = [['George', 35, 'Male'], ['Ann', 28, 'Female'],
       ['Tom', 32, 'Male'], ['Cathy', 25, 'Female']]
df_1 = pd.DataFrame(age, columns=['Name', 'Age', 'Gender'])
df_1

     Name  Age  Gender
0  George   35    Male
1     Ann   28  Female
2     Tom   32    Male
3   Cathy   25  Female

In [ ]:
# Создаем объект DataFrame c одной строкой и тремя столбцами в переменной df_2
df_2 = pd.DataFrame([['George', 35, 'Male']], columns=['Name', 'Age', 'Gender'])
df_2

     Name  Age Gender
0  George   35   Male

In [ ]:
# Создаем объект DataFrame c одной строкой и одним столбцом в переменной df_3
df_3 = pd.DataFrame(['George'], columns=['Name'])
df_3

     Name
0  George

In [ ]:
# Создаем объект DataFrame со множеством строк и одним столбцом в переменной df_4
df_4 = pd.DataFrame([['George'],['Ann'],['Tom'],['Cathy']], columns=['Name'])
df_4

     Name
0  George
1     Ann
2     Tom
3   Cathy