In [1]:
import pandas as pd
import numpy as np

In [2]:
# cоздадим серию s3 с оценками студентов
grades = [[5, 4, 3], 
      [4, 3, 2], 
      [3, 5, 5],
      [3, 3, 3],
      [5, 5, 4]]
students = ['student1@mail.ru',
          'student2@mail.ru',
          'student3@mail.ru',
          'student4@mail.ru',
          'student5@mail.ru']
s3 = pd.Series(grades, students)
s3

student1@mail.ru    [5, 4, 3]
student2@mail.ru    [4, 3, 2]
student3@mail.ru    [3, 5, 5]
student4@mail.ru    [3, 3, 3]
student5@mail.ru    [5, 5, 4]
dtype: object

In [3]:
# передаем s3 в коструктор DataFrame
df_students = pd.DataFrame(s3)
print(type(df_students))
df_students

<class 'pandas.core.frame.DataFrame'>

                          0
student1@mail.ru  [5, 4, 3]
student2@mail.ru  [4, 3, 2]
student3@mail.ru  [3, 5, 5]
student4@mail.ru  [3, 3, 3]
student5@mail.ru  [5, 5, 4]

In [4]:
# используем метод to_frame()
df_students_ = s3.to_frame()
df_students_

                          0
student1@mail.ru  [5, 4, 3]
student2@mail.ru  [4, 3, 2]
student3@mail.ru  [3, 5, 5]
student4@mail.ru  [3, 3, 3]
student5@mail.ru  [5, 5, 4]

# 1 способ

### Пример № 1

In [ ]:
# посмотрим на списки индексов и значений структуры s3
print(s3.index)
print(s3.values)

In [5]:
# используем атрибуты index и values как значения словаря, ключи словаря - названия колонок 
# словарь передаем в конструктор DataFrame
# используем атрибуты index и name, чтобы дать имя индексам
df_students1 = pd.DataFrame({'e-mail':s3.index, 'grades':s3.values})
df_students1.index.name = 'index'
df_students1

                 e-mail     grades
index
0      student1@mail.ru  [5, 4, 3]
1      student2@mail.ru  [4, 3, 2]
2      student3@mail.ru  [3, 5, 5]
3      student4@mail.ru  [3, 3, 3]
4      student5@mail.ru  [5, 5, 4]

# 2 способ

### Пример № 2.1

In [6]:
# используем:
# to_frame() + reset_index() 
# атрибут columns, чтобы дать имена колонкам 
# атрибуты index и name, чтобы дать имя индексам
df_students2_1 = s3.to_frame().reset_index()
df_students2_1.columns =['e-mail', 'grades']
df_students2_1.index.name = 'index'
df_students2_1

                 e-mail     grades
index
0      student1@mail.ru  [5, 4, 3]
1      student2@mail.ru  [4, 3, 2]
2      student3@mail.ru  [3, 5, 5]
3      student4@mail.ru  [3, 3, 3]
4      student5@mail.ru  [5, 5, 4]

### Пример № 2.2

In [7]:
# используем:
# to_frame() + reset_index() 
# метод .rename чтобы переименовать колонки 
# атрибуты index и name, чтобы дать имя индексам
df_students2_2 = s3.to_frame().reset_index()
df_students2_2 = df_students2_2.rename(columns={"index":"почта студента", 0:"оценки"})
df_students2_2.index.name = 'индекс'
df_students2_2

          почта студента     оценки
индекс
0       student1@mail.ru  [5, 4, 3]
1       student2@mail.ru  [4, 3, 2]
2       student3@mail.ru  [3, 5, 5]
3       student4@mail.ru  [3, 3, 3]
4       student5@mail.ru  [5, 5, 4]