In [ ]:
import pandas as pd

## ЧАСТЬ 1

### Cоздание DataFrame с использованием нескольких Series в качестве столбцов

In [ ]:
#Создадим три серии
name = pd.Series(['Анна', 'Екатерина', 'Елена', 'Светлана', 'Дарья'])
age = pd.Series([34, 25, 21, 43, 30])
zodiac = pd.Series(["Скорпион", "Рыбы", "Дева", "Водолей", "Весы"])

##### ПРИМЕР 1.1

In [ ]:
#создадим по одному датафрейму из каждого объекта series
name_df1 = name.to_frame(name='Имя')
age_df1 = age.to_frame(name='Возраст')
zodiac_df1 = zodiac.to_frame(name='Знак зодиака')

#объеденим три датафрейма в один
df_girls = pd.concat([name_df1, age_df1, zodiac_df1], axis= 1 )

#смотрим на итоговый датафрейм
df_girls

         Имя  Возраст Знак зодиака
0       Анна       34     Скорпион
1  Екатерина       25         Рыбы
2      Елена       21         Дева
3   Светлана       43      Водолей
4      Дарья       30         Весы

##### ПРИМЕР 1.2

In [ ]:
#создадим по одному датафрейму из каждого объекта series
name_df2 = name.to_frame(name='Имя')
age_df2 = age.to_frame(name='Возраст')
zodiac_df2 = zodiac.to_frame(name='Знак зодиака')

#объеденим три датафрейма в один (axis=0)
df_girls1_2 = pd.concat([name_df2, age_df2, zodiac_df2])

#посмотрим на итоговый датафрейм
df_girls1_2

         Имя  Возраст Знак зодиака
0       Анна      NaN          NaN
1  Екатерина      NaN          NaN
2      Елена      NaN          NaN
3   Светлана      NaN          NaN
4      Дарья      NaN          NaN
0        NaN     34.0          NaN
1        NaN     25.0          NaN
2        NaN     21.0          NaN
3        NaN     43.0          NaN
4        NaN     30.0          NaN
0        NaN      NaN     Скорпион
1        NaN      NaN         Рыбы
2        NaN      NaN         Дева
3        NaN      NaN      Водолей
4        NaN      NaN         Весы

##### ПРИМЕР 1.3

In [ ]:
#создадим по одному датафрейму из каждого объекта series
name_df3 = name.to_frame()
age_df3 = age.to_frame()
zodiac_df3 = zodiac.to_frame()

#объеденим три датафрейма в один (axis=0)
df_girls1_3 = pd.concat([name_df3, age_df3, zodiac_df3])

#посмотрим на итоговый датафрейм
df_girls1_3

           0
0       Анна
1  Екатерина
2      Елена
3   Светлана
4      Дарья
0         34
1         25
2         21
3         43
4         30
0   Скорпион
1       Рыбы
2       Дева
3    Водолей
4       Весы

##### ПРИМЕР 1.4

In [ ]:
# Создадим еще три серии c данными парней
name2 = pd.Series(['Михаил', 'Константин', 'Николай', 'Сергей', 'Александр'])
age2 = pd.Series([32, 20, 37, 50, 19])
zodiac2 = pd.Series(["Рак", "Козерог", "Лев", "Овен", "Близнецы"])
# создадим одному датафрейму из каждого объекта series
name_df4 = name2.to_frame(name='Имя')
age_df4 = age2.to_frame(name='Возраст')
zodiac_df4 = zodiac2.to_frame(name='Знак зодиака')

#объеденим три новых датафрейма в один
df_boys = pd.concat([name_df4, age_df4, zodiac_df4], axis= 1 )

#посмотрим на итоговый датафрейм
df_boys

          Имя  Возраст Знак зодиака
0      Михаил       32          Рак
1  Константин       20      Козерог
2     Николай       37          Лев
3      Сергей       50         Овен
4   Александр       19     Близнецы

##### Пример 1.5

In [ ]:
df_all = pd.concat([df_girls, df_boys], ignore_index=True)
df_all

          Имя  Возраст Знак зодиака
0        Анна       34     Скорпион
1   Екатерина       25         Рыбы
2       Елена       21         Дева
3    Светлана       43      Водолей
4       Дарья       30         Весы
5      Михаил       32          Рак
6  Константин       20      Козерог
7     Николай       37          Лев
8      Сергей       50         Овен
9   Александр       19     Близнецы

## ЧАСТЬ 2

### Cоздание DataFrame с использованием нескольких Series в качестве строк

##### Пример 2.1

In [ ]:
# Создадим пять серий
row1 = pd.Series(['Аня', 34, "Скорпион"])
row2 = pd.Series(['Катя', 25, "Рыбы"])
row3 = pd.Series(['Лена', 21, "Дева"])
row4 = pd.Series(['Света', 43, "Водолей"])
row5 = pd.Series(['Даша', 30, "Весы"])

In [ ]:
#Создаем датафрейм, используя серии как строки
df2 = pd.DataFrame([row1, row2, row3, row4, row5])

#создаем названия колонок нашего датафрейма
df2.columns = ['Имя', 'Возраст', 'Знак Зодиака']

#смотрим на результат
df2

     Имя  Возраст Знак Зодиака
0    Аня       34     Скорпион
1   Катя       25         Рыбы
2   Лена       21         Дева
3  Света       43      Водолей
4   Даша       30         Весы

##### Пример 2.2

In [ ]:
df2.T

                     0     1     2        3     4
Имя                Аня  Катя  Лена    Света  Даша
Возраст             34    25    21       43    30
Знак Зодиака  Скорпион  Рыбы  Дева  Водолей  Весы

##### Пример 2.3

In [ ]:
df_ = pd.concat([row1, row2, row3, row4, row5], axis=1)
df_.index = ['Имя', 'Возраст', 'Знак Зодиака']
df_

                     0     1     2        3     4
Имя                Аня  Катя  Лена    Света  Даша
Возраст             34    25    21       43    30
Знак Зодиака  Скорпион  Рыбы  Дева  Водолей  Весы