In [1]:
import pandas as pd

d1 = {'Age':[11, 23, 34, 42, 50], 
     'Height': [140, 159, 166, 170, 182], 
     'Weight': [35, 58, 64, 68, 70]}
df1 = pd.DataFrame(d1, index=['Alice', 'Betty', 'Cathy', 'Dorothy', 'Emily'])
df1.index.name='Name'

# Метод .get_loc()

In [2]:
df1

         Age  Height  Weight
Name
Alice     11     140      35
Betty     23     159      58
Cathy     34     166      64
Dorothy   42     170      68
Emily     50     182      70

In [3]:
# выведем номер строки с индексом 'Alice'датафрейма df1
# метод .get_loc() используем вместе с атрибутом index
df1.index.get_loc('Alice')

0

In [4]:
# выведем номер столбца 'Height' датафрейма df1
df1.columns.get_loc('Height')

1

## Если метка неуникальная

- получаем срез или булеву маску (это зависит от позиций одинаковых меток)

## Если метка не существует 

- получаем ошибку KeyError

In [5]:
# Создаем два дополнительных датафрейма df5 и df6, в которых дублируются метки-индексы строк
# Добавляем еще одну Alice (70 лет/ 170 см/ 72 кг)
# в датафрейме df5 одинаковые метки стоят рядом, а в df6 - в начале и в конце
d5 = {'Age':[11, 70, 23, 34, 42, 50], 
     'Height': [140, 170, 159, 166, 170, 182], 
     'Weight': [35, 72, 58, 64, 68, 70]}
df5 = pd.DataFrame(d5, index=['Alice','Alice', 'Betty', 'Cathy', 'Dorothy', 'Emily', ])
df5.index.name='Name'

d6 = {'Age':[11, 23, 34, 42, 50, 70], 
     'Height': [140, 159, 166, 170, 182, 170], 
     'Weight': [35, 58, 64, 68, 70, 72]}
df6 = pd.DataFrame(d6, index=['Alice', 'Betty', 'Cathy', 'Dorothy', 'Emily', 'Alice'])
df6.index.name='Name'

In [6]:
# две метки 'Alice' рядом друг за другом
df5

         Age  Height  Weight
Name
Alice     11     140      35
Alice     70     170      72
Betty     23     159      58
Cathy     34     166      64
Dorothy   42     170      68
Emily     50     182      70

In [7]:
# две метки 'Alice' в противоположных концах датафрейма 
df6

         Age  Height  Weight
Name
Alice     11     140      35
Betty     23     159      58
Cathy     34     166      64
Dorothy   42     170      68
Emily     50     182      70
Alice     70     170      72

In [8]:
# возвращается срез
df5.index.get_loc('Alice')

slice(0, 2, None)

In [9]:
# возвращается boolean mask
# True означает совпадение метки с меткой в запросе
df6.index.get_loc('Alice')

array([ True, False, False, False, False,  True])

In [10]:
# если запросить несуществующую метку чрез метод get_loc(), в выводе появится ошибка KeyError
# df1.index.get_loc('Helen')

# Метод .get_indexer()

- работает только с уникальными метками
- мы не можем применить get_indexer() к df5 и df6

In [11]:
# целочисленная позиция 'Alice' = 0
# целочисленная позиция'Cathy' = 2
df1.index.get_indexer(['Alice', 'Cathy'])

array([0, 2], dtype=int64)

In [12]:
# меток 'Helen' и 'Jane' нет в датафрейме df1
# в выводе в массиве на местах 'Helen' и 'Jane'стоят '-1'
df1.index.get_indexer(['Alice', 'Cathy', 'Helen', 'Betty', 'Jane'])

array([ 0,  2, -1,  1, -1], dtype=int64)

In [13]:
# метод .get_indexer() принимает и возвращает массив
df1.index.get_indexer(['Betty'])

array([1], dtype=int64)

# Метод .get_indexer_non_unique()

In [14]:
# метод .get_indexer() работает только с уникальными метками
# Есть другие, более подходящие методы, например, get_indexer_non_unique()

df5.index.get_indexer_non_unique(['Alice', 'Betty', 'Helen'])

(array([ 0,  1,  2, -1], dtype=int64), array([2], dtype=int64))