In [1]:
import numpy as np
import pandas as pd

# Метод filter()

    План урока

    - вспоминаем принцип работы методов loc и iloc
    - вспоминаем простой способ доступа по индексу/метке (без методов)
    - Как использовать метод .filter()
    - Ось для фильтрации: axis
    - Точное совпадение: items
    - Частичное совпадение: like
    - Регулярное выражение: regex
    - Метод filter для pd.Series

In [2]:
# создаем датафрейм с метками-индексами
df = pd.DataFrame([[0, 1, 2], [3, 4, 5], [6, 7, 8]],
                  index=['apple', 'banana', 'pineapple'],
                  columns=['A', 'B', 'C'])
df

           A  B  C
apple      0  1  2
banana     3  4  5
pineapple  6  7  8

#### Пример 1

In [3]:
df.iloc[[2], [0, 2]]

           A  C
pineapple  6  8

#### Пример 2

In [4]:
df.loc[:, ['C', 'A']]

           C  A
apple      2  0
banana     5  3
pineapple  8  6

#### Пример 3

In [5]:
df.loc[['pineapple', 'apple']]

           A  B  C
pineapple  6  7  8
apple      0  1  2

#### Пример 4.1

In [6]:
df[['B']]

           B
apple      1
banana     4
pineapple  7

#### Пример 4.2

In [7]:
df['B']

apple        1
banana       4
pineapple    7
Name: B, dtype: int64

# Метод filter() - извлечение строк/столбцов из DataFrame в соответствии с метками

### Условия для фильтрации можно задавать с помощью параметров:

# items | like | regex

### Необходимо выбрать один параметр из трех, иначе возникнет ошибка

### Параметр axis определяет ось для фильтрации

# items

Параметр items принимает список, содержащий одно или несколько имен столбцов/строк. При его указании функция возвращает новый датафрейм, содержащий только те столбцы/строки, которые указаны в списке.

# like

Параметр like принимает строковое значение и возвращает датафрейм, содержащий только те столбцы/строки, в названии которых присутствует данная подстрока.

# regex

Параметр regex аналогичен like, но вместо возврата имен столбцов/строк, содержащих подстроку, он возвращает те столбцы/строки, имена которых соответствуют регулярному выражению Python.

# axis

Параметр axis позволяет указать, как именно следует фильтровать датафрейм - по именам столбцов или по именам/индексам строк.

#### Пример 1

In [8]:
df.filter(items=['A', 'C'])

           A  C
apple      0  2
banana     3  5
pineapple  6  8

#### Пример 2

In [9]:
# параметры items и like указаны одновременно, поэтому возникает ошибка
df.filter(items=['A', 'C'], like='A')
# TypeError: Keyword arguments `items`, `like`, or `regex` are mutually exclusive

TypeError: Keyword arguments `items`, `like`, or `regex` are mutually exclusive

#### Пример 3.1

In [10]:
# если ни одна строка или столбец не удовлетворяет условию, то возвращается пустой датафрейм.
# ищем колонку с меткой 'X'
df.filter(items=['X'])

Empty DataFrame
Columns: []
Index: [apple, banana, pineapple]

#### Пример 3.2

In [11]:
# ищем колонку с меткой 'X' + используем функцию print
print(df.filter(items=['X']))

Empty DataFrame
Columns: []
Index: [apple, banana, pineapple]

#### Пример 3.3

In [12]:
# если ни одна строка или столбец не удовлетворяет условию, то возвращается пустой датафрейм.
# ищем строку с меткой 'orange'
# указываем параметр axis=0, чтобы поиск производился по меткам строк
df.filter(items=['orange'], axis=0)

Empty DataFrame
Columns: [A, B, C]
Index: []

#### Пример 3.4

In [13]:
# ищем строку с меткой 'orange' + используем функцию print
print(df.filter(items=['orange'], axis=0))

Empty DataFrame
Columns: [A, B, C]
Index: []

# Параметр axis

### Для фильтрации по строкам axis=0 или axis='index'
### Для фильтрации по столбцам axis=1 или axis='columns' или ничего не указываем

In [14]:
print('Результат фильтрации по строкам:', 
      df.filter(items=['apple', 'pineapple'], axis=0),
      df.filter(items=['apple', 'pineapple'], axis='index'),
      
      'Результат фильтрации по столбцам:',
      df.filter(items=['A', 'C'], axis=1),
      df.filter(items=['A', 'C'], axis='columns'),
      
      sep="\n\n")

Результат фильтрации по строкам:

           A  B  C
apple      0  1  2
pineapple  6  7  8

           A  B  C
apple      0  1  2
pineapple  6  7  8

Результат фильтрации по столбцам:

           A  C
apple      0  2
banana     3  5
pineapple  6  8

           A  C
apple      0  2
banana     3  5
pineapple  6  8

In [15]:
# Если значение axis опущено, то фильтруются столбцы

df.filter(items=['A', 'C'])

           A  C
apple      0  2
banana     3  5
pineapple  6  8

In [16]:
# одновременная фильтрация строк и столбцов невозможна
# если необходимо отфильтровать и строки, и столбцы, то просто повторите filter:
df.filter(items=['A', 'C']).filter(items=['apple', 'pineapple'], axis=0)

           A  C
apple      0  2
pineapple  6  8

# Для точного совпадения используем параметр items

In [17]:
df.filter(items=['A', 'C'])

           A  C
apple      0  2
banana     3  5
pineapple  6  8

In [18]:
print(df[['C', 'A']],
      df.loc[['pineapple', 'apple']],
      sep="\n\n")

           C  A
apple      2  0
banana     5  3
pineapple  8  6

           A  B  C
pineapple  6  7  8
apple      0  1  2

# Для частичного совпадения используем параметр like

In [19]:
df.filter(like='ban', axis=0)

        A  B  C
banana  3  4  5

In [20]:
df.filter(like='apple', axis=0)

           A  B  C
apple      0  1  2
pineapple  6  7  8

# Для поиска по шаблону регулярного выражения используем regex

In [21]:
# извлекаем строки, имена которых заканчиваются на 'a'
df.filter(regex='a$', axis=0)

        A  B  C
banana  3  4  5

In [22]:
# извлекаем строки, имена которых начинаются с 'a' или 'b'
df.filter(regex='^(a|b)', axis=0)

        A  B  C
apple   0  1  2
banana  3  4  5

In [23]:
# извлекаем строки, имена которых содержат 'na' или 'ne'
df.filter(regex='(na|ne)', axis=0)

           A  B  C
banana     3  4  5
pineapple  6  7  8

# Использование метода filter() c Series

In [24]:
s = pd.Series([0, 1, 2], index=['apple', 'banana', 'pineapple'])
s

apple        0
banana       1
pineapple    2
dtype: int64

In [25]:
print(s.filter(items=['pineapple', 'banana']),
      s.filter(like='apple'),
      s.filter(regex='^(a|b)'), sep="\n\n")

banana       1
pineapple    2
dtype: int64

apple        0
pineapple    2
dtype: int64

apple     0
banana    1
dtype: int64