In [1]:
import pandas as pd

In [2]:
# Создаем серию даных (метки-индексы - женские имена, значения - возраст) 
s_age = pd.Series([11, 23, 34, 42, 50], ['Alice', 'Betty', 'Cathy', 'Dorothy', 'Emily'])
s_age

Alice      11
Betty      23
Cathy      34
Dorothy    42
Emily      50
dtype: int64

In [3]:
# Создаем DataFrame с параметрами женщин - Age, Height, Weight - Возраст, Рост, Вес
# Метки-индексы строк - те же женские имена (по первым пяти буквам английского алфавита)
# Даем колонке с индексами название 'Name'
d = {'Age':[11, 23, 34, 42, 50], 'Height': [140, 159, 166, 170, 182], 'Weight': [35, 58, 64, 68, 70]}
df = pd.DataFrame(d, index=['Alice', 'Betty', 'Cathy', 'Dorothy', 'Emily'])
df.index.name='Name'
df

         Age  Height  Weight
Name
Alice     11     140      35
Betty     23     159      58
Cathy     34     166      64
Dorothy   42     170      68
Emily     50     182      70

# Атрибуты .INDEX, .VALUES, .COLUMNS, .AXES

In [4]:
# достаем все индексы серии
s_age.index

Index(['Alice', 'Betty', 'Cathy', 'Dorothy', 'Emily'], dtype='object')

In [5]:
# достаем все значения серии
s_age.values

array([11, 23, 34, 42, 50], dtype=int64)

In [6]:
# Еще раз взгляем на датафтрейм
df

         Age  Height  Weight
Name
Alice     11     140      35
Betty     23     159      58
Cathy     34     166      64
Dorothy   42     170      68
Emily     50     182      70

In [7]:
# Получаем доступ ко всем индексам СТРОК датафрейма
df.index

Index(['Alice', 'Betty', 'Cathy', 'Dorothy', 'Emily'], dtype='object', name='Name')

In [8]:
# Получаем доступ ко всем индексам СТОЛБЦОВ датафрейма
df.columns

Index(['Age', 'Height', 'Weight'], dtype='object')

In [10]:
# Получаем доступ ко всем ЗНАЧЕНИЯМ датафрейма
df.values

array([[ 11, 140,  35],
       [ 23, 159,  58],
       [ 34, 166,  64],
       [ 42, 170,  68],
       [ 50, 182,  70]], dtype=int64)

In [11]:
# если запросить колонку датафрейма вернется серия со значениями колонки, именем серии будет название колонки
df['Age']

Name
Alice      11
Betty      23
Cathy      34
Dorothy    42
Emily      50
Name: Age, dtype: int64

In [12]:
# с помощью атрибута .values мы можем запросить значения колонки списком (как значения серии)
df['Age'].values

array([11, 23, 34, 42, 50], dtype=int64)

In [13]:
# с помощью атрибута .axes запрашиваем массив с двумя списками - индексы СТРОК и СТОЛБЦОв датафрейма
df.axes

[Index(['Alice', 'Betty', 'Cathy', 'Dorothy', 'Emily'], dtype='object', name='Name'),
 Index(['Age', 'Height', 'Weight'], dtype='object')]

In [14]:
# .axes можно запросить и у серии, но в массиве будет только список с идексами СТРОК
s_age.axes

[Index(['Alice', 'Betty', 'Cathy', 'Dorothy', 'Emily'], dtype='object')]

In [15]:
# DataFrame c индексами, проставленными по умолчанию (RangeIndex)
df2=pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]])
df2

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [16]:
# RangeIndex - Неизменяемый индекс,реализующий монотонный целочисленный диапазон.
df2.index

RangeIndex(start=0, stop=3, step=1)

In [17]:
df2.columns

RangeIndex(start=0, stop=3, step=1)

In [18]:
df2.axes

[RangeIndex(start=0, stop=3, step=1), RangeIndex(start=0, stop=3, step=1)]

# Атрибут .SHAPE

In [19]:
# узнаем форму (количество строк) нашей серии
s_age.shape

(5,)

In [20]:
# узнаем форму (отдельно количество строк и столбцов) нашего датафрейма
df.shape

(5, 3)

In [21]:
# Транспонируем датафрейм
df.T

Name    Alice  Betty  Cathy  Dorothy  Emily
Age        11     23     34       42     50
Height    140    159    166      170    182
Weight     35     58     64       68     70

In [22]:
# Смотрим на форму транспонированного датафрейма
df.T.shape

(3, 5)

# Атрибут .SIZE

In [23]:
# узнаем размер серии
s_age.size

5

In [24]:
# узнаем размер датафрейма
df.size

15

# Метод .info()

In [25]:
# метод .info() выводит информацию о датафрейме
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Alice to Emily
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     5 non-null      int64
 1   Height  5 non-null      int64
 2   Weight  5 non-null      int64
dtypes: int64(3)
memory usage: 332.0+ bytes