In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'col_one':['a', 'b', 'c'], 'col_two':[[10, 40], [20, 50], [30, 60]]})
df

  col_one   col_two
0       a  [10, 40]
1       b  [20, 50]
2       c  [30, 60]

In [3]:
df_new = df.col_two.apply(pd.Series)
df_new

    0   1
0  10  40
1  20  50
2  30  60

In [4]:
pd.concat([df, df_new], axis='columns')

  col_one   col_two   0   1
0       a  [10, 40]  10  40
1       b  [20, 50]  20  50
2       c  [30, 60]  30  60