## Метод Squeeze

In [1]:
import pandas as pd

In [2]:
numbers = pd.Series([2, 3, 5, 7])
numbers

0    2
1    3
2    5
3    7
dtype: int64

In [3]:
even_numbers = numbers[numbers % 2 == 0]
even_numbers

0    2
dtype: int64

In [4]:
even_numbers.squeeze()

2

In [5]:
# Сжатие объектов с более чем одним значением по каждой оси ничего не дает:
odd_numbers = numbers[numbers % 2 == 1]
odd_numbers

1    3
2    5
3    7
dtype: int64

In [6]:
odd_numbers.squeeze()

1    3
2    5
3    7
dtype: int64

In [7]:
# Сжатие становится еще более эффективным при использовании со структурой DataFrame
df = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])
df

   a  b
0  1  2
1  3  4

In [8]:
# При доступе к одному столбцу получается DataFrame, в котором строки имеют только одно значение:
df_a = df[['a']]
df_a

   a
0  1
1  3

In [9]:
# Поэтому колонку можно сжать, в результате чего получится серия:
df_a.squeeze('columns')

0    1
1    3
Name: a, dtype: int64

In [10]:
# При нарезке одной строки из одного столбца будет получен один скалярный DataFrame:
df_0a = df.loc[df.index < 1, ['a']]
df_0a

   a
0  1

In [11]:
# При сжатии рядов получается одна скалярная серия:
df_0a.squeeze('index')

a    1
Name: 0, dtype: int64

In [12]:
# При сжатии столбцов получается также одна скалярная серия:
df_0a.squeeze('columns')

0    1
Name: a, dtype: int64

In [13]:
df_0a.squeeze()

1