## Метод pipe. Потоковая обработка данных

Потоковая обработка данных - это подход, который позволяет в удобном виде задавать обработку данных таким образом, что структура pandas является аргументом некоторой функции, результат которой передается в следующую функцию и т.д. Это похоже на конвейерную обработку. Для использования данного подхода применяется метод pipe(). Рассмотрим это на примере. 

Для начала реализуем такую обработку без использования функции pipe()

In [1]:
import pandas as pd
import numpy as np

# создаем функции
plus_one_sqrt = lambda x: (x+1)**2
root_3 = lambda x: x**(1.0/3.0)
minus_10_mul_3 = lambda x: (x - 10)*3

In [2]:
df = pd.DataFrame([[15,23,13,15], [15,52,23,82], [61,34,13,71]], columns=['a','b','c','d'])
df

    a   b   c   d
0  15  23  13  15
1  15  52  23  82
2  61  34  13  71

In [3]:
root_3(minus_10_mul_3(plus_one_sqrt(df)))

           a          b          c          d
0   9.036886  11.930150   8.232746   9.036886
1   9.036886  20.325507  11.930150  27.429350
2  22.573096  15.389784   8.232746  24.944946

In [5]:
# Используем pipe для более удобного примененеия созданных функций
(df.pipe(plus_one_sqrt)
 .pipe(minus_10_mul_3)
 .pipe(root_3))

           a          b          c          d
0   9.036886  11.930150   8.232746   9.036886
1   9.036886  20.325507  11.930150  27.429350
2  22.573096  15.389784   8.232746  24.944946