## Метод pop

Удаляет переданную колонку  из DataFrame и возвращает ее в выводе. Если метка не найдена, возвращается KeyError.

In [1]:
import pandas as pd
import numpy as np

df = pd.DataFrame([('group_1', 'I', 389.0),
                   ('group_1', 'II', 24.0),
                   ('group_2', 'I', 80.5),
                   ('group_2', 'II', np.nan)],
                  columns=('A', 'B', 'C'))
df

         A   B      C
0  group_1   I  389.0
1  group_1  II   24.0
2  group_2   I   80.5
3  group_2  II    NaN

In [2]:
df.pop('B')

0     I
1    II
2     I
3    II
Name: B, dtype: object

In [3]:
df

         A      C
0  group_1  389.0
1  group_1   24.0
2  group_2   80.5
3  group_2    NaN

In [4]:
# выдает KeyError
df.pop('D')

KeyError: 'D'