In [1]:
import pandas as pd

## Рассчет потребления памяти

In [2]:
# здесь представлены данные о наблюдениях НЛО в США:
ufo = pd.read_csv('files/ufo_reports')
ufo.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00

#### Вы можете вычислить память, используемую всем DataFrame:

_автоматически метод info нам дает приблизительный рассчет памяти. У метода info есть параметр memory_usage, который по умолчанию стоит в True и делает общий приблизительный рассчет. Если мы передаем данному параметру значение 'deep', то это будет эквивалентно «True with deep introspection» (True с глубокой интроспекцией)._

_Без глубокой интроспекции оценка памяти производится на основе типа данных столбцов и количества строк, предполагая, что значения потребляют одинаковый объем памяти для соответствующих типов данных. При глубокой интроспекции памяти за счет вычислительных ресурсов производится реальный расчет использования памяти._

In [3]:
ufo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [4]:
ufo.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18215 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 5.2 MB

In [5]:
# вы также можете рассчитать память, используемую каждым столбцом (в байтах):
ufo.memory_usage(deep=True)

Index                  132
City               1205589
Colors Reported     671313
Shape Reported     1065230
State              1076219
Time               1386316
dtype: int64