In [ ]:
import pandas as pd
import numpy as np

# Замена значения в DataFrame на основе условия

## Методы - pd.loc(), np.where(), pd.DataFrame.where(), pd.DataFrame.mask()

    Условие (condition): значение < 0
    Если условие выполняется, производим замену на букву 'W' (new_value)

## Метод 1 - DataFrame.loc

    DataFrame.loc[condition, column_name] = new_value

### Пример 1.1

In [ ]:
df = pd.DataFrame([[-15, -10, 4], [5, 7, -3], [-8, 9, 1]], columns=['a', 'b', 'c'])
display(df)

# DataFrame.loc[condition, column_name] = new_value
# условие: значение в колонке 'a' должно быть меньше нуля
# указываем, в какой колонке должна быть произведена замена
# изменяется изначальная структура DataFrame в переменной df

# в нашем примере все найденные значения в колонке 'a', которые меньше нуля, заменяются на букву 'W':

df.loc[df['a'] < 0, 'a'] = 'W'
df

    a   b  c
0 -15 -10  4
1   5   7 -3
2  -8   9  1

C:\Users\iaasm\AppData\Local\Temp\ipykernel_9816\2089795364.py:11: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'W' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['a'] < 0, 'a'] = 'W'

   a   b  c
0  W -10  4
1  5   7 -3
2  W   9  1

### Пример 1.2

    DataFrame.loc[condition,(column_name_1, column_name_2)] = new_value

In [ ]:
# замены происходят в обеих колонках по условию df2['a'] < 0

df2 = pd.DataFrame([[-15, -10, 4], [5, 7, -3], [-8, 9, 1]], columns=['a', 'b', 'c'])
display(df2)
print("Условие df2['a'] < 0 выдает следующий результат:", df2['a'] < 0, sep='\n\n')
df2.loc[(df2['a'] < 0), ('a', 'c')] = 'W'
df2

    a   b  c
0 -15 -10  4
1   5   7 -3
2  -8   9  1

Условие df2['a'] < 0 выдает следующий результат:

0     True
1    False
2     True
Name: a, dtype: bool

C:\Users\iaasm\AppData\Local\Temp\ipykernel_9816\4009984281.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'W' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df2.loc[(df2['a'] < 0), ('a', 'c')] = 'W'

   a   b   c
0  W -10   W
1  5   7  -3
2  W   9   W

## Метод 2 - np.where() - аналог функции ЕСЛИ в Excel

    DataFrame['column_name'] = np.where(condition, new_value, DataFrame['column_name'])

### Пример 1.3

In [ ]:
df3 = pd.DataFrame([[-15, -10, 4], [5, 7, -3], [-8, 9, 1]], columns=['a', 'b', 'c'])
display(df3)

# прописываем условие: df3['a'] < 0
# указываем значение, если условие выполняется: 'W'
# также обязательно нужно указать значение, если условие не выполняется df3['a']
# np.where() возвращает массив, который мы присваиваем нужной колонке структуры DataFrame

print('С помощью np.where получаем массив c измененными значениями:', np.where(df3['a'] < 0, 'W', df3['a']))
print('Массив присваиваем нужной колонке структуры df3:')
df3['a'] = np.where(df3['a'] < 0, 'W', df3['a'])
df3

    a   b  c
0 -15 -10  4
1   5   7 -3
2  -8   9  1

С помощью np.where получаем массив c измененными значениями: ['W' '5' 'W']
Массив присваиваем нужной колонке структуры df3:

   a   b  c
0  W -10  4
1  5   7 -3
2  W   9  1

## Метод 3 - DataFrame.where()

    DataFrame['column_name'].where(condition, other=new_value)
    DataFrame.where(condition, other=new_value)

### Пример 1.4

In [ ]:
# DataFrame['column_name'].where(condition), other=new_value)

# применяется к Series или к DataFrame и, соответственно, возвращает Series или DataFrame
# в аргументе other прописывается то значение, которое будет при невыполнении условия
# Мы можем поставить в аргумент other букву 'W' и вместе с этим поставить знак отрицания '~'(ТИЛЬДА) перед условием в скобках
# этим мы создаем отрицание условия и добиваемся того же результата, что и при использовании np.where из прошлого примера:

# DataFrame['column_name'].where(~(condition), other=new_value)

In [ ]:
df4 = pd.DataFrame([[-15, -10, 4], [5, 7, -3], [-8, 9, 1]], columns=['a', 'b', 'c'])
print('Обычное условие: .where(условие),...',
      df4['a'].where(df4['a'] < 0, other='W'), sep='\n\n')
print()
print('Отрицание условия: .where(~(условие),...',
      df4['a'].where(~(df4['a'] < 0), other='W'), sep='\n\n')

Обычное условие: .where(условие),...

0    -15
1      W
2     -8
Name: a, dtype: object

Отрицание условия: .where(~(условие),...

0    W
1    5
2    W
Name: a, dtype: object

In [ ]:
# DataFrame.where(~(condition), other=new_value)

display(df4.where(df4 < 0, other='W'),
        df4.where(~(df4 < 0), other='W'))

     a    b   c
0  -15  -10   W
1    W    W  -3
2   -8    W   W

   a  b  c
0  W  W  4
1  5  7  W
2  W  9  1

In [ ]:
# условие (DataFrame df4 меньше нуля)
# возвращается булев датафрейм
df4 < 0

       a      b      c
0   True   True  False
1  False  False   True
2   True  False  False

In [ ]:
# чтобы заменить изначальную структуру DataFrame, выставляем аргумент inplace=True

df4.where(~(df4 < 0), other='W', inplace=True)
df4

C:\Users\iaasm\AppData\Local\Temp\ipykernel_9816\602603289.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'W' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df4.where(~(df4 < 0), other='W', inplace=True)

   a  b  c
0  W  W  4
1  5  7  W
2  W  9  1

## Метод 4 - DataFrame.mask()

    DataFrame['column_name'].mask(condition, other=new_value)
    DataFrame.mask(condition, other=new_value)

### Пример 1.5.1

In [ ]:
# замена отрицательных значений всей структуры DataFrame на новое значение 'W' с помощью метода mask

df5 = pd.DataFrame([[-15, -10, 4], [5, 7, -3], [-8, 9, 1]], columns=['a', 'b', 'c'])
df5.mask(df5 < 0, other='W', inplace=True)
df5

C:\Users\iaasm\AppData\Local\Temp\ipykernel_9816\1916980377.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'W' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df5.mask(df5 < 0, other='W', inplace=True)

   a  b  c
0  W  W  4
1  5  7  W
2  W  9  1

### Пример 1.5.2

In [ ]:
# замена отрицательных значений всей структуры DataFrame на np.nan с помощью метода mask

df5 = pd.DataFrame([[-15, -10, 4], [5, 7, -3], [-8, 9, 1]], columns=['a', 'b', 'c'])
df5.mask(df5 < 0, other=np.nan, inplace=True)
df5

     a    b    c
0  NaN  NaN  4.0
1  5.0  7.0  NaN
2  NaN  9.0  1.0