In [1]:
import pandas as pd
import numpy as np

## Методы DataFrame.at_time и DataFrame.between_time

Эти методы могут пригодиться при работе с данными, разделенными по времени с высокой степенью детализации.

In [2]:
# Давайте создадим таблицу, содержащую 100 интервалов в 1час 20 минут:
index = pd.date_range('2025-01-01', periods=100, freq='1h20min')
data = pd.DataFrame({'col': list(range(100))}, index=index)
data.head()

                     col
2025-01-01 00:00:00    0
2025-01-01 01:20:00    1
2025-01-01 02:40:00    2
2025-01-01 04:00:00    3
2025-01-01 05:20:00    4

In [3]:
# Метод at_time позволяет выбирать значения по заданному времени. Давайте выделим все строки, соответствующие 04:00:
data.at_time('4:00')

                     col
2025-01-01 04:00:00    3
2025-01-02 04:00:00   21
2025-01-03 04:00:00   39
2025-01-04 04:00:00   57
2025-01-05 04:00:00   75
2025-01-06 04:00:00   93

In [4]:
# А теперь давайте используем between_time, чтобы выделить строки в заданном интервале времени:
data.between_time('09:45', '12:00')

                     col
2025-01-01 10:40:00    8
2025-01-01 12:00:00    9
2025-01-02 10:40:00   26
2025-01-02 12:00:00   27
2025-01-03 10:40:00   44
2025-01-03 12:00:00   45
2025-01-04 10:40:00   62
2025-01-04 12:00:00   63
2025-01-05 10:40:00   80
2025-01-05 12:00:00   81
2025-01-06 10:40:00   98
2025-01-06 12:00:00   99

#### Заметьте, что оба метода требуют DateTimeIndex, и они работают только с временем. Если вы хотите выделить строки в определенном интервале даты и времени, используйте Series between.

## Series.between()

In [5]:
# немного изменим структуру DataFrame
data.index.name='date_and_time'
data.reset_index(inplace=True)
data.head()

        date_and_time  col
0 2025-01-01 00:00:00    0
1 2025-01-01 01:20:00    1
2 2025-01-01 02:40:00    2
3 2025-01-01 04:00:00    3
4 2025-01-01 05:20:00    4

In [6]:
data['date_and_time'].between('2025-01-02 09:00','2025-01-02 16:00')

0     False
1     False
2     False
3     False
4     False
      ...
95    False
96    False
97    False
98    False
99    False
Name: date_and_time, Length: 100, dtype: bool

In [7]:
# Series.between возвращает булеву серию, которую можно использовать для индексации значений структуры
data[data['date_and_time'].between('2025-01-02 09:00','2025-01-02 16:00')]

         date_and_time  col
25 2025-01-02 09:20:00   25
26 2025-01-02 10:40:00   26
27 2025-01-02 12:00:00   27
28 2025-01-02 13:20:00   28
29 2025-01-02 14:40:00   29
30 2025-01-02 16:00:00   30

In [8]:
s = pd.Series([2, 0, 4, 8, np.nan])
s.between(1, 4)

0     True
1    False
2     True
3    False
4    False
dtype: bool

In [9]:
s_names = pd.Series(['Alice', 'Bob', 'Carol', 'Eve'])
s_names.between('Anna', 'Daniel')

0    False
1     True
2     True
3    False
dtype: bool

## Метод Truncate

In [10]:
dates = pd.date_range('2024-01-01', '2024-02-01', freq='s')
df = pd.DataFrame(index=dates, data={'A': 1})
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2678401 entries, 2024-01-01 00:00:00 to 2024-02-01 00:00:00
Freq: s
Data columns (total 1 columns):
 #   Column  Dtype
---  ------  -----
 0   A       int64
dtypes: int64(1)
memory usage: 40.9 MB

In [11]:
df.tail(3)

                     A
2024-01-31 23:59:58  1
2024-01-31 23:59:59  1
2024-02-01 00:00:00  1

In [12]:
df.truncate(before=pd.Timestamp('2024-01-05'),
            after=pd.Timestamp('2024-01-10')).tail()

                     A
2024-01-09 23:59:56  1
2024-01-09 23:59:57  1
2024-01-09 23:59:58  1
2024-01-09 23:59:59  1
2024-01-10 00:00:00  1

In [13]:
df.truncate('2024-01-05', '2024-01-10').tail()

                     A
2024-01-09 23:59:56  1
2024-01-09 23:59:57  1
2024-01-09 23:59:58  1
2024-01-09 23:59:59  1
2024-01-10 00:00:00  1

In [14]:
df.loc['2024-01-05':'2024-01-10', :].tail()

                     A
2024-01-10 23:59:55  1
2024-01-10 23:59:56  1
2024-01-10 23:59:57  1
2024-01-10 23:59:58  1
2024-01-10 23:59:59  1

## Функция bdate_range

In [15]:
b_days = pd.bdate_range('2025-04-01', '2025-04-30')  # период в один месяц
display(b_days, len(b_days))

DatetimeIndex(['2025-04-01', '2025-04-02', '2025-04-03', '2025-04-04',
               '2025-04-07', '2025-04-08', '2025-04-09', '2025-04-10',
               '2025-04-11', '2025-04-14', '2025-04-15', '2025-04-16',
               '2025-04-17', '2025-04-18', '2025-04-21', '2025-04-22',
               '2025-04-23', '2025-04-24', '2025-04-25', '2025-04-28',
               '2025-04-29', '2025-04-30'],
              dtype='datetime64[ns]', freq='B')

22