In [1]:
import pandas as pd

In [2]:
df_movies=pd.read_csv('files/movies_1000', usecols=['star_rating','title','genre'])
df_movies.head(10)

   star_rating                                          title      genre
0          9.3                       The Shawshank Redemption      Crime
1          9.2                                  The Godfather      Crime
2          9.1                         The Godfather: Part II      Crime
3          9.0                                The Dark Knight     Action
4          8.9                                   Pulp Fiction      Crime
5          8.9                                   12 Angry Men      Drama
6          8.9                 The Good, the Bad and the Ugly    Western
7          8.9  The Lord of the Rings: The Return of the King  Adventure
8          8.9                               Schindler's List  Biography
9          8.9                                     Fight Club      Drama

Нам нужно отфильтровать DataFrame по жанру, но включить в него только 3 самых крупных жанра.

Начнем с того, что получим значения value_counts() для genre и сохраним его в виде серии под названием vc:

In [3]:
vc = df_movies['genre'].value_counts()
vc

genre
Drama        278
Comedy       156
Action       136
Crime        124
Biography     77
Adventure     75
Animation     62
Horror        29
Mystery       16
Western        9
Sci-Fi         5
Thriller       5
Film-Noir      3
Family         2
History        1
Fantasy        1
Name: count, dtype: int64

Метод Series.nlargest() позволяет легко выбрать 3 самых больших значения в этой серии:

И все, что нам нужно от этой серии, - это индекс:

In [4]:
vc.nlargest(3)

genre
Drama     278
Comedy    156
Action    136
Name: count, dtype: int64

In [5]:
vc.nlargest(3).index

Index(['Drama', 'Comedy', 'Action'], dtype='object', name='genre')

Наконец, мы можем передать этот объект index в метод isin() и по полученному булеву массиву произвести фильтрацию структуры:

In [6]:
df_movies[df_movies['genre'].isin(vc.nlargest(3).index)].head()

    star_rating                                           title   genre
3           9.0                                 The Dark Knight  Action
5           8.9                                    12 Angry Men   Drama
9           8.9                                      Fight Club   Drama
11          8.8                                       Inception  Action
12          8.8  Star Wars: Episode V - The Empire Strikes Back  Action

#### находим 3 самых малочисленных жанра с методом nsmallest

In [7]:
df_movies[df_movies['genre'].isin(vc.nsmallest(3).index)].head()

     star_rating                                title    genre
338          8.0                  Battleship Potemkin  History
468          7.9           E.T. the Extra-Terrestrial   Family
497          7.8  Willy Wonka & the Chocolate Factory   Family
638          7.7            The City of Lost Children  Fantasy

In [8]:
vc.nsmallest(3).index

Index(['History', 'Fantasy', 'Family'], dtype='object', name='genre')