In [1]:
import pandas as pd
import numpy as np

print('Версия pandas:', pd.__version__)

Версия pandas: 2.1.4

# Объект MultiIndex

## Часть 3. Доступ к данным структур Series и DataFrame с иерархическим индексом

    План урока
    
    - Открываем файл csv и преобразовываем DataFrame
    - Метод .loc[ ]
    - Доступ к данным без специальных методов
    - Метод .xs( ) cross-section
    - Особенности использования метода take(). 
    - Функция slice( )
    - Специальный объект pd.IndexSlice

In [2]:
df_w = pd.read_csv('files/multi_index_warehouses.csv', index_col=[0,1,2], header=[0,1])
df_w

                                      2010            2011            2012  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
NY Warehouses Buffalo       Mobile      26      12      10      23      18
                            TV          19      22      27      19      27
                            AC          16      24      20      23      29
              Ithaca        Mobile      10      28      27      22      18
                            TV          13      13      11      15      12
                            AC          18      17      19      28      28
              Beacon        Mobile      10      17      24      27      25
                            TV          12      22      26      26      15
                            AC          13      11      23      13      20
CA Warehouses San Francisco Mobile      15      25      18      16      13
                            TV          28      16      15      29      28
                            AC          10      14      10      16      17
              Los Angeles   Mobile      29      15      14      28      29
                            TV          23      14      18      21      10
                            AC          27      24      20      21      20
              San Diego     Mobile      14      27      24      16      23
                            TV          19      24      17      17      11
                            AC          11      22      10      29      24
TX Warehouses Houston       Mobile      27      17      16      18      21
                            TV          11      18      22      21      26
                            AC          12      25      18      12      26
              Arlington     Mobile      29      10      12      13      13
                            TV          15      20      22      25      23
                            AC          21      18      13      22      16
              Austin        Mobile      17      11      29      25      20
                            TV          27      11      14      11      23
                            AC          15      28      28      11      11

                                              2013            2014          \
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
NY Warehouses Buffalo       Mobile      10      10      26      16      18
                            TV          12      24      28      27      28
                            AC          15      10      20      16      16
              Ithaca        Mobile      14      22      12      14      16
                            TV          15      27      17      10      25
                            AC          14      21      18      25      17
              Beacon        Mobile      11      22      26      10      13
                            TV          28      15      26      12      18
                            AC          26      10      12      14      10
CA Warehouses San Francisco Mobile      13      19      15      21      23
                            TV          27      27      14      12      20
                            AC          20      28      25      27      11
              Los Angeles   Mobile      27      18      27      16      29
                            TV          15      11      19      25      11
                            AC          29      18      29      15      17
              San Diego     Mobile      20      11      23      29      16
                            TV          12      22      21      18      29
                            AC          24      24      11      18      27
TX Warehouses Houston       Mobile      21      15      16      23      25
                            TV          18      18      12      15      26
                            AC          23      21      12      22      29
              Arlington     Mobile      25      10      19      10      16
                            TV          20      23      21      13      26
                            AC          18      21      22      22      11
              Austin        Mobile      26      19      20      21      17
                            TV          22      27      10      28      29
                            AC          12      15      25      29      16

                                      2015            2016            2017  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
NY Warehouses Buffalo       Mobile      20      21      20      26      29
                            TV          10      16      25      26      20
                            AC          25      21      19      12      21
              Ithaca        Mobile      21      13      27      17      15
                            TV          20      27      17      16      13
                            AC          18      27      23      24      22
              Beacon        Mobile      25      13      29      23      28
                            TV          17      10      21      19      24
                            AC          28      26      21      26      29
CA Warehouses San Francisco Mobile      11      26      27      16      16
                            TV          13      27      18      11      17
                            AC          19      18      22      13      16
              Los Angeles   Mobile      10      15      20      17      11
                            TV          12      11      23      20      22
                            AC          27      25      12      23      23
              San Diego     Mobile      18      14      15      16      24
                            TV          22      19      13      28      18
                            AC          29      10      16      28      12
TX Warehouses Houston       Mobile      11      22      28      20      22
                            TV          22      11      18      29      28
                            AC          25      15      21      26      21
              Arlington     Mobile      12      15      13      15      27
                            TV          28      28      21      16      22
                            AC          28      13      17      10      29
              Austin        Mobile      26      20      10      10      13
                            TV          14      13      17      18      10
                            AC          20      16      20      14      14

                                              2018            2019
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
NY Warehouses Buffalo       Mobile      20      11      21      25      16
                            TV          25      10      27      20      20
                            AC          19      11      28      19      19
              Ithaca        Mobile      19      21      15      29      14
                            TV          23      15      26      15      28
                            AC          12      11      12      19      22
              Beacon        Mobile      22      22      26      20      18
                            TV          23      26      19      19      13
                            AC          12      29      18      20      24
CA Warehouses San Francisco Mobile      18      29      22      25      20
                            TV          24      10      29      19      14
                            AC          13      21      16      15      23
              Los Angeles   Mobile      14      25      11      29      19
                            TV          21      21      17      15      10
                            AC          14      29      25      25      16
              San Diego     Mobile      13      15      24      12      13
                            TV          29      10      19      22      17
                            AC          19      10      15      20      15
TX Warehouses Houston       Mobile      26      10      18      22      27
                            TV          24      22      24      25      17
                            AC          26      28      23      29      19
              Arlington     Mobile      18      21      27      15      29
                            TV          21      14      12      16      20
                            AC          15      15      22      19      11
              Austin        Mobile      27      23      29      12      24
                            TV          16      25      24      23      21
                            AC          13      26      27      21      16

In [3]:
# производим сортировку и сохраняем изменения в изначальной структуре

df_w.sort_index(inplace=True)
df_w

                                      2010            2011            2012  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      24      20      21      20
                            Mobile      29      15      14      28      29
                            TV          23      14      18      21      10
              San Diego     AC          11      22      10      29      24
                            Mobile      14      27      24      16      23
                            TV          19      24      17      17      11
              San Francisco AC          10      14      10      16      17
                            Mobile      15      25      18      16      13
                            TV          28      16      15      29      28
NY Warehouses Beacon        AC          13      11      23      13      20
                            Mobile      10      17      24      27      25
                            TV          12      22      26      26      15
              Buffalo       AC          16      24      20      23      29
                            Mobile      26      12      10      23      18
                            TV          19      22      27      19      27
              Ithaca        AC          18      17      19      28      28
                            Mobile      10      28      27      22      18
                            TV          13      13      11      15      12
TX Warehouses Arlington     AC          21      18      13      22      16
                            Mobile      29      10      12      13      13
                            TV          15      20      22      25      23
              Austin        AC          15      28      28      11      11
                            Mobile      17      11      29      25      20
                            TV          27      11      14      11      23
              Houston       AC          12      25      18      12      26
                            Mobile      27      17      16      18      21
                            TV          11      18      22      21      26

                                              2013            2014          \
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          29      18      29      15      17
                            Mobile      27      18      27      16      29
                            TV          15      11      19      25      11
              San Diego     AC          24      24      11      18      27
                            Mobile      20      11      23      29      16
                            TV          12      22      21      18      29
              San Francisco AC          20      28      25      27      11
                            Mobile      13      19      15      21      23
                            TV          27      27      14      12      20
NY Warehouses Beacon        AC          26      10      12      14      10
                            Mobile      11      22      26      10      13
                            TV          28      15      26      12      18
              Buffalo       AC          15      10      20      16      16
                            Mobile      10      10      26      16      18
                            TV          12      24      28      27      28
              Ithaca        AC          14      21      18      25      17
                            Mobile      14      22      12      14      16
                            TV          15      27      17      10      25
TX Warehouses Arlington     AC          18      21      22      22      11
                            Mobile      25      10      19      10      16
                            TV          20      23      21      13      26
              Austin        AC          12      15      25      29      16
                            Mobile      26      19      20      21      17
                            TV          22      27      10      28      29
              Houston       AC          23      21      12      22      29
                            Mobile      21      15      16      23      25
                            TV          18      18      12      15      26

                                      2015            2016            2017  \
                                   Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
CA Warehouses Los Angeles   AC          27      25      12      23      23
                            Mobile      10      15      20      17      11
                            TV          12      11      23      20      22
              San Diego     AC          29      10      16      28      12
                            Mobile      18      14      15      16      24
                            TV          22      19      13      28      18
              San Francisco AC          19      18      22      13      16
                            Mobile      11      26      27      16      16
                            TV          13      27      18      11      17
NY Warehouses Beacon        AC          28      26      21      26      29
                            Mobile      25      13      29      23      28
                            TV          17      10      21      19      24
              Buffalo       AC          25      21      19      12      21
                            Mobile      20      21      20      26      29
                            TV          10      16      25      26      20
              Ithaca        AC          18      27      23      24      22
                            Mobile      21      13      27      17      15
                            TV          20      27      17      16      13
TX Warehouses Arlington     AC          28      13      17      10      29
                            Mobile      12      15      13      15      27
                            TV          28      28      21      16      22
              Austin        AC          20      16      20      14      14
                            Mobile      26      20      10      10      13
                            TV          14      13      17      18      10
              Houston       AC          25      15      21      26      21
                            Mobile      11      22      28      20      22
                            TV          22      11      18      29      28

                                              2018            2019
                                   Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
CA Warehouses Los Angeles   AC          14      29      25      25      16
                            Mobile      14      25      11      29      19
                            TV          21      21      17      15      10
              San Diego     AC          19      10      15      20      15
                            Mobile      13      15      24      12      13
                            TV          29      10      19      22      17
              San Francisco AC          13      21      16      15      23
                            Mobile      18      29      22      25      20
                            TV          24      10      29      19      14
NY Warehouses Beacon        AC          12      29      18      20      24
                            Mobile      22      22      26      20      18
                            TV          23      26      19      19      13
              Buffalo       AC          19      11      28      19      19
                            Mobile      20      11      21      25      16
                            TV          25      10      27      20      20
              Ithaca        AC          12      11      12      19      22
                            Mobile      19      21      15      29      14
                            TV          23      15      26      15      28
TX Warehouses Arlington     AC          15      15      22      19      11
                            Mobile      18      21      27      15      29
                            TV          21      14      12      16      20
              Austin        AC          13      26      27      21      16
                            Mobile      27      23      29      12      24
                            TV          16      25      24      23      21
              Houston       AC          26      28      23      29      19
                            Mobile      26      10      18      22      27
                            TV          24      22      24      25      17

In [4]:
df_w.columns.levels[0]

Index(['2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018',
       '2019'],
      dtype='object')

In [5]:
df_w.columns.levels[0].astype(int)

Index([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype='int32')

In [6]:
# изменяем тип данных c object на int уровня '0' мультииндекса столбцов датафрейма df_w

df_w.columns=df_w.columns.set_levels(levels=df_w.columns.levels[0].astype(int), level=0)

In [7]:
df_w.columns.levels[0]

Index([2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype='int32')

In [8]:
df_w.index.names = ['State', 'City', 'Product']
df_w.columns.names = ['Year', 'Semester']
df_w

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

# Метод .loc[ ]

    Можем обратиться к уровням структуры с индексом 0 (Штат/State и Год/Year) обычным способом, 
    если нам не нужна "глубина погружения"
    
    Более точные координаты данных обязательно прописываем в кортеже df.loc[(row),(col)]

    Пример 1 - если работаем только c уровнями 0 строк и столбцов (Штат/State и Год/Year)

## Пример 1.1

In [9]:
df_w.loc['CA Warehouses']

Year                     2010            2011            2012            2013  \
Semester              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
City          Product
Los Angeles   AC           27      24      20      21      20      29      18
              Mobile       29      15      14      28      29      27      18
              TV           23      14      18      21      10      15      11
San Diego     AC           11      22      10      29      24      24      24
              Mobile       14      27      24      16      23      20      11
              TV           19      24      17      17      11      12      22
San Francisco AC           10      14      10      16      17      20      28
              Mobile       15      25      18      16      13      13      19
              TV           28      16      15      29      28      27      27

Year                             2014            2015            2016          \
Semester              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
City          Product
Los Angeles   AC           29      15      17      27      25      12      23
              Mobile       27      16      29      10      15      20      17
              TV           19      25      11      12      11      23      20
San Diego     AC           11      18      27      29      10      16      28
              Mobile       23      29      16      18      14      15      16
              TV           21      18      29      22      19      13      28
San Francisco AC           25      27      11      19      18      22      13
              Mobile       15      21      23      11      26      27      16
              TV           14      12      20      13      27      18      11

Year                     2017            2018            2019
Semester              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
City          Product
Los Angeles   AC           23      14      29      25      25      16
              Mobile       11      14      25      11      29      19
              TV           22      21      21      17      15      10
San Diego     AC           12      19      10      15      20      15
              Mobile       24      13      15      24      12      13
              TV           18      29      10      19      22      17
San Francisco AC           16      13      21      16      15      23
              Mobile       16      18      29      22      25      20
              TV           17      24      10      29      19      14

## Пример 1.2

In [10]:
df_w.loc[['CA Warehouses']]

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14

## Пример 1.3

In [11]:
df_w.loc[['CA Warehouses', 'TX Warehouses']]

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28
TX Warehouses Arlington     AC           21      18      13      22      16
                            Mobile       29      10      12      13      13
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            Mobile       17      11      29      25      20
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            Mobile       27      17      16      18      21
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20
TX Warehouses Arlington     AC           18      21      22      22      11
                            Mobile       25      10      19      10      16
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            Mobile       26      19      20      21      17
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            Mobile       21      15      16      23      25
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17
TX Warehouses Arlington     AC           28      13      17      10      29
                            Mobile       12      15      13      15      27
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            Mobile       26      20      10      10      13
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            Mobile       11      22      28      20      22
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14
TX Warehouses Arlington     AC           15      15      22      19      11
                            Mobile       18      21      27      15      29
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            Mobile       27      23      29      12      24
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            Mobile       26      10      18      22      27
                            TV           24      22      24      25      17

## Пример 1.4

In [12]:
df_w.loc['CA Warehouses', 2010]

Semester               Jan-Jun  Jul-Dec
City          Product
Los Angeles   AC            27       24
              Mobile        29       15
              TV            23       14
San Diego     AC            11       22
              Mobile        14       27
              TV            19       24
San Francisco AC            10       14
              Mobile        15       25
              TV            28       16

## Пример 1.5

In [13]:
df_w.loc[['CA Warehouses'], [2010]]

Year                                   2010
Semester                            Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           27      24
                            Mobile       29      15
                            TV           23      14
              San Diego     AC           11      22
                            Mobile       14      27
                            TV           19      24
              San Francisco AC           10      14
                            Mobile       15      25
                            TV           28      16

## Пример 1.6

In [14]:
df_w.loc[['CA Warehouses', 'TX Warehouses'], [2010, 2013]]

Year                                   2010            2013
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           27      24      18      29
                            Mobile       29      15      18      27
                            TV           23      14      11      19
              San Diego     AC           11      22      24      11
                            Mobile       14      27      11      23
                            TV           19      24      22      21
              San Francisco AC           10      14      28      25
                            Mobile       15      25      19      15
                            TV           28      16      27      14
TX Warehouses Arlington     AC           21      18      21      22
                            Mobile       29      10      10      19
                            TV           15      20      23      21
              Austin        AC           15      28      15      25
                            Mobile       17      11      19      20
                            TV           27      11      27      10
              Houston       AC           12      25      21      12
                            Mobile       27      17      15      16
                            TV           11      18      18      12

## Пример 1.7

In [15]:
df_w.loc['CA Warehouses':'NY Warehouses', 2012:2017]

Year                                   2012            2013            2014  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           20      29      18      29      15
                            Mobile       29      27      18      27      16
                            TV           10      15      11      19      25
              San Diego     AC           24      24      24      11      18
                            Mobile       23      20      11      23      29
                            TV           11      12      22      21      18
              San Francisco AC           17      20      28      25      27
                            Mobile       13      13      19      15      21
                            TV           28      27      27      14      12
NY Warehouses Beacon        AC           20      26      10      12      14
                            Mobile       25      11      22      26      10
                            TV           15      28      15      26      12
              Buffalo       AC           29      15      10      20      16
                            Mobile       18      10      10      26      16
                            TV           27      12      24      28      27
              Ithaca        AC           28      14      21      18      25
                            Mobile       18      14      22      12      14
                            TV           12      15      27      17      10

Year                                           2015            2016          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           17      27      25      12      23
                            Mobile       29      10      15      20      17
                            TV           11      12      11      23      20
              San Diego     AC           27      29      10      16      28
                            Mobile       16      18      14      15      16
                            TV           29      22      19      13      28
              San Francisco AC           11      19      18      22      13
                            Mobile       23      11      26      27      16
                            TV           20      13      27      18      11
NY Warehouses Beacon        AC           10      28      26      21      26
                            Mobile       13      25      13      29      23
                            TV           18      17      10      21      19
              Buffalo       AC           16      25      21      19      12
                            Mobile       18      20      21      20      26
                            TV           28      10      16      25      26
              Ithaca        AC           17      18      27      23      24
                            Mobile       16      21      13      27      17
                            TV           25      20      27      17      16

Year                                   2017
Semester                            Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           23      14
                            Mobile       11      14
                            TV           22      21
              San Diego     AC           12      19
                            Mobile       24      13
                            TV           18      29
              San Francisco AC           16      13
                            Mobile       16      18
                            TV           17      24
NY Warehouses Beacon        AC           29      12
                            Mobile       28      22
                            TV           24      23
              Buffalo       AC           21      19
                            Mobile       29      20
                            TV           20      25
              Ithaca        AC           22      12
                            Mobile       15      19
                            TV           13      23

    Пример 2 - если нужно углубиться, мы работаем НЕ только c нулевыми уровнями строк и столбцов

## Пример 2.1

In [16]:
# доступ к одному конкретному элементу структуры DataFrame
# количество мобильных устройств, отгруженных с Калифорнийского склада в Сан-Диего в период с июля по декабрь 2010 года

df_w.loc[('CA Warehouses', 'San Diego', 'Mobile'), (2010, 'Jul-Dec')]

27

## Пример 2.2

In [17]:
# если нам нужен срез

df_w.loc[('NY Warehouses', 'Ithaca'):, :]

Year                               2010            2011            2012  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City      Product
NY Warehouses Ithaca    AC           18      17      19      28      28
                        Mobile       10      28      27      22      18
                        TV           13      13      11      15      12
TX Warehouses Arlington AC           21      18      13      22      16
                        Mobile       29      10      12      13      13
                        TV           15      20      22      25      23
              Austin    AC           15      28      28      11      11
                        Mobile       17      11      29      25      20
                        TV           27      11      14      11      23
              Houston   AC           12      25      18      12      26
                        Mobile       27      17      16      18      21
                        TV           11      18      22      21      26

Year                                       2013            2014          \
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Product
NY Warehouses Ithaca    AC           14      21      18      25      17
                        Mobile       14      22      12      14      16
                        TV           15      27      17      10      25
TX Warehouses Arlington AC           18      21      22      22      11
                        Mobile       25      10      19      10      16
                        TV           20      23      21      13      26
              Austin    AC           12      15      25      29      16
                        Mobile       26      19      20      21      17
                        TV           22      27      10      28      29
              Houston   AC           23      21      12      22      29
                        Mobile       21      15      16      23      25
                        TV           18      18      12      15      26

Year                               2015            2016            2017  \
Semester                        Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City      Product
NY Warehouses Ithaca    AC           18      27      23      24      22
                        Mobile       21      13      27      17      15
                        TV           20      27      17      16      13
TX Warehouses Arlington AC           28      13      17      10      29
                        Mobile       12      15      13      15      27
                        TV           28      28      21      16      22
              Austin    AC           20      16      20      14      14
                        Mobile       26      20      10      10      13
                        TV           14      13      17      18      10
              Houston   AC           25      15      21      26      21
                        Mobile       11      22      28      20      22
                        TV           22      11      18      29      28

Year                                       2018            2019
Semester                        Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City      Product
NY Warehouses Ithaca    AC           12      11      12      19      22
                        Mobile       19      21      15      29      14
                        TV           23      15      26      15      28
TX Warehouses Arlington AC           15      15      22      19      11
                        Mobile       18      21      27      15      29
                        TV           21      14      12      16      20
              Austin    AC           13      26      27      21      16
                        Mobile       27      23      29      12      24
                        TV           16      25      24      23      21
              Houston   AC           26      28      23      29      19
                        Mobile       26      10      18      22      27
                        TV           24      22      24      25      17

## Пример 2.3

In [18]:
df_w.loc[('CA Warehouses', 'San Francisco', 'TV'):('NY Warehouses', 'Ithaca', 'Mobile'),
       (2012, 'Jul-Dec'):(2015)]

Year                                   2012    2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses San Francisco TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16

Year                                   2015
Semester                            Jan-Jun Jul-Dec
State         City          Product
CA Warehouses San Francisco TV           13      27
NY Warehouses Beacon        AC           28      26
                            Mobile       25      13
                            TV           17      10
              Buffalo       AC           25      21
                            Mobile       20      21
                            TV           10      16
              Ithaca        AC           18      27
                            Mobile       21      13

# Пример 2.4

In [19]:
# df_w.loc[:,([2010,2015],'Jan-Jun')]
df_w.loc(axis=1)[[2010,2015],'Jan-Jun']

Year                                   2010    2015
Semester                            Jan-Jun Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      27
                            Mobile       29      10
                            TV           23      12
              San Diego     AC           11      29
                            Mobile       14      18
                            TV           19      22
              San Francisco AC           10      19
                            Mobile       15      11
                            TV           28      13
NY Warehouses Beacon        AC           13      28
                            Mobile       10      25
                            TV           12      17
              Buffalo       AC           16      25
                            Mobile       26      20
                            TV           19      10
              Ithaca        AC           18      18
                            Mobile       10      21
                            TV           13      20
TX Warehouses Arlington     AC           21      28
                            Mobile       29      12
                            TV           15      28
              Austin        AC           15      20
                            Mobile       17      26
                            TV           27      14
              Houston       AC           12      25
                            Mobile       27      11
                            TV           11      22

## Без использования специальных методов

    В первых квадратных скобках указываем координаты по столбцам структуры DataFrame
    Во вторых квадратных скобках указываем координаты по строкам структуры DataFrame
    Если уходим дальше 0 уровня индекса строки или столбца, то передаем соответсвующие координаты в кортеже.

## Пример 3.1

In [20]:
# Запрашиваем все данные за 2011 год. Получаем DataFrame

df_w[2011]

Semester                             Jan-Jun  Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC            20       21
                            Mobile        14       28
                            TV            18       21
              San Diego     AC            10       29
                            Mobile        24       16
                            TV            17       17
              San Francisco AC            10       16
                            Mobile        18       16
                            TV            15       29
NY Warehouses Beacon        AC            23       13
                            Mobile        24       27
                            TV            26       26
              Buffalo       AC            20       23
                            Mobile        10       23
                            TV            27       19
              Ithaca        AC            19       28
                            Mobile        27       22
                            TV            11       15
TX Warehouses Arlington     AC            13       22
                            Mobile        12       13
                            TV            22       25
              Austin        AC            28       11
                            Mobile        29       25
                            TV            14       11
              Houston       AC            18       12
                            Mobile        16       18
                            TV            22       21

## Пример 3.2

In [21]:
# Запрашиваем все данные за 2011 год за 1 семестр ('Jan-Jun'). 
# Получаем Series с многоуровневым индексом - 3 уровня (State, City, Product)

df_w[(2011, 'Jan-Jun')]

State          City           Product
CA Warehouses  Los Angeles    AC         20
                              Mobile     14
                              TV         18
               San Diego      AC         10
                              Mobile     24
                              TV         17
               San Francisco  AC         10
                              Mobile     18
                              TV         15
NY Warehouses  Beacon         AC         23
                              Mobile     24
                              TV         26
               Buffalo        AC         20
                              Mobile     10
                              TV         27
               Ithaca         AC         19
                              Mobile     27
                              TV         11
TX Warehouses  Arlington      AC         13
                              Mobile     12
                              TV         22
               Austin         AC         28
                              Mobile     29
                              TV         14
               Houston        AC         18
                              Mobile     16
                              TV         22
Name: (2011, Jan-Jun), dtype: int64

## Пример 3.3

In [22]:
# Запрашиваем все данные за 2011 год за 1 семестр ('Jan-Jun') в штате Калифория. 
# Получаем Series с многоуровневым индексом - 2 уровня (City, Product)

df_w[(2011, 'Jan-Jun')]['CA Warehouses']

City           Product
Los Angeles    AC         20
               Mobile     14
               TV         18
San Diego      AC         10
               Mobile     24
               TV         17
San Francisco  AC         10
               Mobile     18
               TV         15
Name: (2011, Jan-Jun), dtype: int64

## Пример 3.4

In [23]:
# Запрашиваем все данные за 2011 год за 1 семестр ('Jan-Jun'). 
# Получаем Series с обычным индексом - один единственный уровень (Product)

df_w[(2011, 'Jan-Jun')][('CA Warehouses', 'San Francisco')]

Product
AC        10
Mobile    18
TV        15
Name: (2011, Jan-Jun), dtype: int64

## Пример 3.5

In [24]:
# Запрашиваем конкретное количество единиц товара 
# по категории 'AC' по складу в штате Калифорния в городе Сан-Франциско в 1 семестре (январь-июнь) 2011 года

df_w[(2011, 'Jan-Jun')][('CA Warehouses', 'San Francisco', 'AC')]

10

## Метод .xs( ) cross section

    Синтаксис: dataframe.xs(key, axis, level, drop_level)
    
    Параметры метода:

    key - метка индекса, либо кортеж меток
    Обязательный параметр. Метка индекса строки, которую вы хотите вернуть. 
    Используйте кортеж меток, чтобы вернуть более одной метки

    axis - ось (строк или столбцов)
    Указывать необязательно. По умолчанию 0.

    level - Указываем, какие уровни мы используем в своем запросе. Уровни могут быть указаны по метке или позиции.

    drop_level - Указываем, возвращать ли объекты того же уровня, что и сам аргумент key, или нет
    По умолчанию True.

## Пример 4.1

In [25]:
df_w.xs(key='CA Warehouses')

Year                     2010            2011            2012            2013  \
Semester              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
City          Product
Los Angeles   AC           27      24      20      21      20      29      18
              Mobile       29      15      14      28      29      27      18
              TV           23      14      18      21      10      15      11
San Diego     AC           11      22      10      29      24      24      24
              Mobile       14      27      24      16      23      20      11
              TV           19      24      17      17      11      12      22
San Francisco AC           10      14      10      16      17      20      28
              Mobile       15      25      18      16      13      13      19
              TV           28      16      15      29      28      27      27

Year                             2014            2015            2016          \
Semester              Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
City          Product
Los Angeles   AC           29      15      17      27      25      12      23
              Mobile       27      16      29      10      15      20      17
              TV           19      25      11      12      11      23      20
San Diego     AC           11      18      27      29      10      16      28
              Mobile       23      29      16      18      14      15      16
              TV           21      18      29      22      19      13      28
San Francisco AC           25      27      11      19      18      22      13
              Mobile       15      21      23      11      26      27      16
              TV           14      12      20      13      27      18      11

Year                     2017            2018            2019
Semester              Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
City          Product
Los Angeles   AC           23      14      29      25      25      16
              Mobile       11      14      25      11      29      19
              TV           22      21      21      17      15      10
San Diego     AC           12      19      10      15      20      15
              Mobile       24      13      15      24      12      13
              TV           18      29      10      19      22      17
San Francisco AC           16      13      21      16      15      23
              Mobile       16      18      29      22      25      20
              TV           17      24      10      29      19      14

## Пример 4.2

In [26]:
df_w.xs(key='CA Warehouses', drop_level=False)

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
                            TV           28      16      15      29      28

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
                            TV           27      27      14      12      20

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
                            TV           13      27      18      11      17

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
                            TV           24      10      29      19      14

## Пример 4.3

In [27]:
# используем кортеж меток
# на выходе получаем все имеющиеся данные по Сан-Диего 
df_w.xs(key=('CA Warehouses','San Diego'))

Year        2010            2011            2012            2013          \
Semester Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Product
AC            11      22      10      29      24      24      24      11
Mobile        14      27      24      16      23      20      11      23
TV            19      24      17      17      11      12      22      21

Year        2014            2015            2016            2017          \
Semester Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Product
AC            18      27      29      10      16      28      12      19
Mobile        29      16      18      14      15      16      24      13
TV            18      29      22      19      13      28      18      29

Year        2018            2019
Semester Jan-Jun Jul-Dec Jan-Jun Jul-Dec
Product
AC            10      15      20      15
Mobile        15      24      12      13
TV            10      19      22      17

## Пример 4.4

In [28]:
# Мы не можем указать штат и тип продукции, не указав город или используемые уровни
try:
    df_w.xs(key=('CA Warehouses','AC'))
except KeyError as e:
     print("KeyError:", e)

KeyError: ('CA Warehouses', 'AC')

## Пример 4.5

In [29]:
# указываем нужные уровни в аргументе level
# чтобы получить данные по Калифорнийским складам в части только продукции AC, нам надо указать уровни 'State'и'Product'
# по умолчанию drop_level=True, то есть запрошенные уровни скрыты

df_w.xs(('CA Warehouses', 'AC'), level=('State', 'Product'))

# другие варианты написания этого же запроса:
# df_w.xs(('CA Warehouses', 'AC'), level=['State', 'Product'])
# df_w.xs(('CA Warehouses', 'AC'), level=(0, 2))
# df_w.xs(('CA Warehouses', 'AC'), level=[0, 2])

Year             2010            2011            2012            2013          \
Semester      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
City
Los Angeles        27      24      20      21      20      29      18      29
San Diego          11      22      10      29      24      24      24      11
San Francisco      10      14      10      16      17      20      28      25

Year             2014            2015            2016            2017          \
Semester      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
City
Los Angeles        15      17      27      25      12      23      23      14
San Diego          18      27      29      10      16      28      12      19
San Francisco      27      11      19      18      22      13      16      13

Year             2018            2019
Semester      Jan-Jun Jul-Dec Jan-Jun Jul-Dec
City
Los Angeles        29      25      25      16
San Diego          10      15      20      15
San Francisco      21      16      15      23

In [30]:
# прописываем drop_level=False, чтобы видеть метки запрошенных уровней 'State'и'Product'

df_w.xs(('CA Warehouses', 'AC'), level=('State', 'Product'), drop_level=False)

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
              San Diego     AC           11      22      10      29      24
              San Francisco AC           10      14      10      16      17

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
              San Diego     AC           24      24      11      18      27
              San Francisco AC           20      28      25      27      11

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
              San Diego     AC           29      10      16      28      12
              San Francisco AC           19      18      22      13      16

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
              San Diego     AC           19      10      15      20      15
              San Francisco AC           13      21      16      15      23

## Пример 4.6

In [31]:
# Мы не можем указать одиночную метку ненулевого уровня (например, TV), не указав уровень в параметре level
try:
    df_w.xs(key='TV')
except KeyError as e:
     print("KeyError:", e)

KeyError: 'TV'

## Пример 4.7

In [32]:
# здесь мы запросили все данные по телевизорам по всем складам во всех имеющихся шатах
df_w.xs(key='TV', level='Product')

Year                           2010            2011            2012          \
Semester                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City
CA Warehouses Los Angeles        23      14      18      21      10      15
              San Diego          19      24      17      17      11      12
              San Francisco      28      16      15      29      28      27
NY Warehouses Beacon             12      22      26      26      15      28
              Buffalo            19      22      27      19      27      12
              Ithaca             13      13      11      15      12      15
TX Warehouses Arlington          15      20      22      25      23      20
              Austin             27      11      14      11      23      22
              Houston            11      18      22      21      26      18

Year                           2013            2014            2015          \
Semester                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City
CA Warehouses Los Angeles        11      19      25      11      12      11
              San Diego          22      21      18      29      22      19
              San Francisco      27      14      12      20      13      27
NY Warehouses Beacon             15      26      12      18      17      10
              Buffalo            24      28      27      28      10      16
              Ithaca             27      17      10      25      20      27
TX Warehouses Arlington          23      21      13      26      28      28
              Austin             27      10      28      29      14      13
              Houston            18      12      15      26      22      11

Year                           2016            2017            2018          \
Semester                    Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City
CA Warehouses Los Angeles        23      20      22      21      21      17
              San Diego          13      28      18      29      10      19
              San Francisco      18      11      17      24      10      29
NY Warehouses Beacon             21      19      24      23      26      19
              Buffalo            25      26      20      25      10      27
              Ithaca             17      16      13      23      15      26
TX Warehouses Arlington          21      16      22      21      14      12
              Austin             17      18      10      16      25      24
              Houston            18      29      28      24      22      24

Year                           2019
Semester                    Jan-Jun Jul-Dec
State         City
CA Warehouses Los Angeles        15      10
              San Diego          22      17
              San Francisco      19      14
NY Warehouses Beacon             19      13
              Buffalo            20      20
              Ithaca             15      28
TX Warehouses Arlington          16      20
              Austin             23      21
              Houston            25      17

## Пример 4.8

In [33]:
# здесь мы сделали рассчет количества единиц товара категории AC по всем складам в Калифорнии
# сначала по каждому отчетному периоду
# в итоге вывели общее количество едениц товара категории AC за все время

display(df_w.xs(('CA Warehouses', 'AC'), level=('State', 'Product'), drop_level=False),
        df_w.xs(('CA Warehouses', 'AC'), level=('State', 'Product'), drop_level=False).sum(),
        df_w.xs(('CA Warehouses', 'AC'), level=('State', 'Product'), drop_level=False).sum().sum())

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
              San Diego     AC           11      22      10      29      24
              San Francisco AC           10      14      10      16      17

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
              San Diego     AC           24      24      11      18      27
              San Francisco AC           20      28      25      27      11

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
              San Diego     AC           29      10      16      28      12
              San Francisco AC           19      18      22      13      16

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
              San Diego     AC           19      10      15      20      15
              San Francisco AC           13      21      16      15      23

Year  Semester
2010  Jan-Jun     48
      Jul-Dec     60
2011  Jan-Jun     40
      Jul-Dec     66
2012  Jan-Jun     61
      Jul-Dec     73
2013  Jan-Jun     70
      Jul-Dec     65
2014  Jan-Jun     60
      Jul-Dec     55
2015  Jan-Jun     75
      Jul-Dec     53
2016  Jan-Jun     50
      Jul-Dec     64
2017  Jan-Jun     51
      Jul-Dec     46
2018  Jan-Jun     60
      Jul-Dec     56
2019  Jan-Jun     60
      Jul-Dec     54
dtype: int64

1167

## Пример 4.9

In [34]:
# делаем поперечный срез другой оси, указываем axis=1

df_w.xs('Jan-Jun', axis=1, level='Semester', drop_level=False)

Year                                   2010    2011    2012    2013    2014  \
Semester                            Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      20      20      18      15
                            Mobile       29      14      29      18      16
                            TV           23      18      10      11      25
              San Diego     AC           11      10      24      24      18
                            Mobile       14      24      23      11      29
                            TV           19      17      11      22      18
              San Francisco AC           10      10      17      28      27
                            Mobile       15      18      13      19      21
                            TV           28      15      28      27      12
NY Warehouses Beacon        AC           13      23      20      10      14
                            Mobile       10      24      25      22      10
                            TV           12      26      15      15      12
              Buffalo       AC           16      20      29      10      16
                            Mobile       26      10      18      10      16
                            TV           19      27      27      24      27
              Ithaca        AC           18      19      28      21      25
                            Mobile       10      27      18      22      14
                            TV           13      11      12      27      10
TX Warehouses Arlington     AC           21      13      16      21      22
                            Mobile       29      12      13      10      10
                            TV           15      22      23      23      13
              Austin        AC           15      28      11      15      29
                            Mobile       17      29      20      19      21
                            TV           27      14      23      27      28
              Houston       AC           12      18      26      21      22
                            Mobile       27      16      21      15      23
                            TV           11      22      26      18      15

Year                                   2015    2016    2017    2018    2019
Semester                            Jan-Jun Jan-Jun Jan-Jun Jan-Jun Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      12      23      29      25
                            Mobile       10      20      11      25      29
                            TV           12      23      22      21      15
              San Diego     AC           29      16      12      10      20
                            Mobile       18      15      24      15      12
                            TV           22      13      18      10      22
              San Francisco AC           19      22      16      21      15
                            Mobile       11      27      16      29      25
                            TV           13      18      17      10      19
NY Warehouses Beacon        AC           28      21      29      29      20
                            Mobile       25      29      28      22      20
                            TV           17      21      24      26      19
              Buffalo       AC           25      19      21      11      19
                            Mobile       20      20      29      11      25
                            TV           10      25      20      10      20
              Ithaca        AC           18      23      22      11      19
                            Mobile       21      27      15      21      29
                            TV           20      17      13      15      15
TX Warehouses Arlington     AC           28      17      29      15      19
                            Mobile       12      13      27      21      15
                            TV           28      21      22      14      16
              Austin        AC           20      20      14      26      21
                            Mobile       26      10      13      23      12
                            TV           14      17      10      25      23
              Houston       AC           25      21      21      28      29
                            Mobile       11      28      22      10      22
                            TV           22      18      28      22      25

## Метод take( )

## Пример 5.1

In [35]:
df_w.take([0,3,6, 9, 10, 15, 16])

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
              San Diego     AC           11      22      10      29      24
              San Francisco AC           10      14      10      16      17
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
              San Diego     AC           24      24      11      18      27
              San Francisco AC           20      28      25      27      11
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
              San Diego     AC           29      10      16      28      12
              San Francisco AC           19      18      22      13      16
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
              San Diego     AC           19      10      15      20      15
              San Francisco AC           13      21      16      15      23
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14

## Пример 5.2

In [36]:
df_w.take([0,1,4,5], axis=1)

Year                                   2010            2012
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      29
                            Mobile       29      15      29      27
                            TV           23      14      10      15
              San Diego     AC           11      22      24      24
                            Mobile       14      27      23      20
                            TV           19      24      11      12
              San Francisco AC           10      14      17      20
                            Mobile       15      25      13      13
                            TV           28      16      28      27
NY Warehouses Beacon        AC           13      11      20      26
                            Mobile       10      17      25      11
                            TV           12      22      15      28
              Buffalo       AC           16      24      29      15
                            Mobile       26      12      18      10
                            TV           19      22      27      12
              Ithaca        AC           18      17      28      14
                            Mobile       10      28      18      14
                            TV           13      13      12      15
TX Warehouses Arlington     AC           21      18      16      18
                            Mobile       29      10      13      25
                            TV           15      20      23      20
              Austin        AC           15      28      11      12
                            Mobile       17      11      20      26
                            TV           27      11      23      22
              Houston       AC           12      25      26      23
                            Mobile       27      17      21      21
                            TV           11      18      26      18

## Пример 5.3

    ВАЖНО! Метод .take() объектов pandas НЕ ПРЕДНАЗНАЧЕН для работы с логическими операторами и может возвращать неожиданные результаты.

In [37]:
b_arr = df_w.index.isin(['Buffalo', 'Austin'], level=1)
b_arr

array([False, False, False, False, False, False, False, False, False,
       False, False, False,  True,  True,  True, False, False, False,
       False, False, False,  True,  True,  True, False, False, False])

In [38]:
# получаем не ошибку, а неожиданный результат
df_w.index.take(b_arr)

MultiIndex([('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles', 'Mobile'),
            ('CA Warehouses', 'Los Angeles', 'Mobile'),
            ('CA Warehouses', 'Los Angeles', 'Mobile'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles', 'Mobile'),
            ('CA Warehouses', 'Los Angeles', 'Mobile'),
            ('CA Warehouses', 'Los Angeles', 'Mobile'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC'),
            ('CA Warehouses', 'Los Angeles',     'AC')],
           names=['State', 'City', 'Product'])

In [39]:
# получаем не ошибку, а неожиданный результат
df_w.take(b_arr)

Year                                 2010            2011            2012  \
Semester                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City        Product
CA Warehouses Los Angeles AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          Mobile       29      15      14      28      29
                          Mobile       29      15      14      28      29
                          Mobile       29      15      14      28      29
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          Mobile       29      15      14      28      29
                          Mobile       29      15      14      28      29
                          Mobile       29      15      14      28      29
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20
                          AC           27      24      20      21      20

Year                                         2013            2014          \
Semester                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City        Product
CA Warehouses Los Angeles AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          Mobile       27      18      27      16      29
                          Mobile       27      18      27      16      29
                          Mobile       27      18      27      16      29
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          Mobile       27      18      27      16      29
                          Mobile       27      18      27      16      29
                          Mobile       27      18      27      16      29
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17
                          AC           29      18      29      15      17

Year                                 2015            2016            2017  \
Semester                          Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City        Product
CA Warehouses Los Angeles AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          Mobile       10      15      20      17      11
                          Mobile       10      15      20      17      11
                          Mobile       10      15      20      17      11
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          Mobile       10      15      20      17      11
                          Mobile       10      15      20      17      11
                          Mobile       10      15      20      17      11
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23
                          AC           27      25      12      23      23

Year                                         2018            2019
Semester                          Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City        Product
CA Warehouses Los Angeles AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          Mobile       14      25      11      29      19
                          Mobile       14      25      11      29      19
                          Mobile       14      25      11      29      19
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          Mobile       14      25      11      29      19
                          Mobile       14      25      11      29      19
                          Mobile       14      25      11      29      19
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16
                          AC           14      29      25      25      16

## Пример 5.4

In [40]:
# для работы с булевым массивом используйте iloc или loc
df_w.iloc[b_arr]
# df_w.loc[b_arr] - результат тот же

Year                             2010            2011            2012          \
Semester                      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Buffalo AC           16      24      20      23      29      15
                      Mobile       26      12      10      23      18      10
                      TV           19      22      27      19      27      12
TX Warehouses Austin  AC           15      28      28      11      11      12
                      Mobile       17      11      29      25      20      26
                      TV           27      11      14      11      23      22

Year                             2013            2014            2015          \
Semester                      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Buffalo AC           10      20      16      16      25      21
                      Mobile       10      26      16      18      20      21
                      TV           24      28      27      28      10      16
TX Warehouses Austin  AC           15      25      29      16      20      16
                      Mobile       19      20      21      17      26      20
                      TV           27      10      28      29      14      13

Year                             2016            2017            2018          \
Semester                      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Buffalo AC           19      12      21      19      11      28
                      Mobile       20      26      29      20      11      21
                      TV           25      26      20      25      10      27
TX Warehouses Austin  AC           20      14      14      13      26      27
                      Mobile       10      10      13      27      23      29
                      TV           17      18      10      16      25      24

Year                             2019
Semester                      Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Buffalo AC           19      19
                      Mobile       25      16
                      TV           20      20
TX Warehouses Austin  AC           21      16
                      Mobile       12      24
                      TV           23      21

In [41]:
# создаем булев массив соответствующей длины (20 элементов) для выборки столбцов
col_b_arr= [False, False, True, True, False, False, True, True, False, False, 
            False, False, True, True, True, False, False, False, True, True]

# используем заранее заготовленный массив для выборки столбцов
df_w.iloc[:, col_b_arr]

Year                                   2011            2013            2016  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           20      21      18      29      12
                            Mobile       14      28      18      27      20
                            TV           18      21      11      19      23
              San Diego     AC           10      29      24      11      16
                            Mobile       24      16      11      23      15
                            TV           17      17      22      21      13
              San Francisco AC           10      16      28      25      22
                            Mobile       18      16      19      15      27
                            TV           15      29      27      14      18
NY Warehouses Beacon        AC           23      13      10      12      21
                            Mobile       24      27      22      26      29
                            TV           26      26      15      26      21
              Buffalo       AC           20      23      10      20      19
                            Mobile       10      23      10      26      20
                            TV           27      19      24      28      25
              Ithaca        AC           19      28      21      18      23
                            Mobile       27      22      22      12      27
                            TV           11      15      27      17      17
TX Warehouses Arlington     AC           13      22      21      22      17
                            Mobile       12      13      10      19      13
                            TV           22      25      23      21      21
              Austin        AC           28      11      15      25      20
                            Mobile       29      25      19      20      10
                            TV           14      11      27      10      17
              Houston       AC           18      12      21      12      21
                            Mobile       16      18      15      16      28
                            TV           22      21      18      12      18

Year                                           2017    2019
Semester                            Jul-Dec Jan-Jun Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           23      23      25      16
                            Mobile       17      11      29      19
                            TV           20      22      15      10
              San Diego     AC           28      12      20      15
                            Mobile       16      24      12      13
                            TV           28      18      22      17
              San Francisco AC           13      16      15      23
                            Mobile       16      16      25      20
                            TV           11      17      19      14
NY Warehouses Beacon        AC           26      29      20      24
                            Mobile       23      28      20      18
                            TV           19      24      19      13
              Buffalo       AC           12      21      19      19
                            Mobile       26      29      25      16
                            TV           26      20      20      20
              Ithaca        AC           24      22      19      22
                            Mobile       17      15      29      14
                            TV           16      13      15      28
TX Warehouses Arlington     AC           10      29      19      11
                            Mobile       15      27      15      29
                            TV           16      22      16      20
              Austin        AC           14      14      21      16
                            Mobile       10      13      12      24
                            TV           18      10      23      21
              Houston       AC           26      21      29      19
                            Mobile       20      22      22      27
                            TV           29      28      25      17

In [42]:
# используем булевы массивы (соответствующей длины каждый) для выборки строк и столбцов
df_w.iloc[b_arr, col_b_arr]

Year                             2011            2013            2016          \
Semester                      Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Buffalo AC           20      23      10      20      19      12
                      Mobile       10      23      10      26      20      26
                      TV           27      19      24      28      25      26
TX Warehouses Austin  AC           28      11      15      25      20      14
                      Mobile       29      25      19      20      10      10
                      TV           14      11      27      10      17      18

Year                             2017    2019
Semester                      Jan-Jun Jan-Jun Jul-Dec
State         City    Product
NY Warehouses Buffalo AC           21      19      19
                      Mobile       29      25      16
                      TV           20      20      20
TX Warehouses Austin  AC           14      21      16
                      Mobile       13      12      24
                      TV           10      23      21

# Функция slice ( )

## Пример 6.1

In [43]:
df_w.loc[(slice(None), slice(None), ['AC', 'TV']), :]

# df_w.loc[(slice(None), slice(None), ['AC', 'TV'])]
# df_w.loc[slice(None), slice(None), ['AC', 'TV']]

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            TV           24      22      24      25      17

## Пример 6.2

In [44]:
# используем slice также на каждом уровне индексов строк
df_w.loc[(slice('CA Warehouses','NY Warehouses'), slice(None), slice('AC', 'Mobile') ), :]

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            Mobile       29      15      14      28      29
              San Diego     AC           11      22      10      29      24
                            Mobile       14      27      24      16      23
              San Francisco AC           10      14      10      16      17
                            Mobile       15      25      18      16      13
NY Warehouses Beacon        AC           13      11      23      13      20
                            Mobile       10      17      24      27      25
              Buffalo       AC           16      24      20      23      29
                            Mobile       26      12      10      23      18
              Ithaca        AC           18      17      19      28      28
                            Mobile       10      28      27      22      18

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            Mobile       27      18      27      16      29
              San Diego     AC           24      24      11      18      27
                            Mobile       20      11      23      29      16
              San Francisco AC           20      28      25      27      11
                            Mobile       13      19      15      21      23
NY Warehouses Beacon        AC           26      10      12      14      10
                            Mobile       11      22      26      10      13
              Buffalo       AC           15      10      20      16      16
                            Mobile       10      10      26      16      18
              Ithaca        AC           14      21      18      25      17
                            Mobile       14      22      12      14      16

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            Mobile       10      15      20      17      11
              San Diego     AC           29      10      16      28      12
                            Mobile       18      14      15      16      24
              San Francisco AC           19      18      22      13      16
                            Mobile       11      26      27      16      16
NY Warehouses Beacon        AC           28      26      21      26      29
                            Mobile       25      13      29      23      28
              Buffalo       AC           25      21      19      12      21
                            Mobile       20      21      20      26      29
              Ithaca        AC           18      27      23      24      22
                            Mobile       21      13      27      17      15

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            Mobile       14      25      11      29      19
              San Diego     AC           19      10      15      20      15
                            Mobile       13      15      24      12      13
              San Francisco AC           13      21      16      15      23
                            Mobile       18      29      22      25      20
NY Warehouses Beacon        AC           12      29      18      20      24
                            Mobile       22      22      26      20      18
              Buffalo       AC           19      11      28      19      19
                            Mobile       20      11      21      25      16
              Ithaca        AC           12      11      12      19      22
                            Mobile       19      21      15      29      14

# pandas.IndexSlice

    pd.IndexSlice - специальный объект для более удобного выполнения многоиндексной нарезки.

In [45]:
# создаем спец.объект для многоиндексной нарезки
i_sl = pd.IndexSlice

## Пример 7.1

In [46]:
# Нам нужны все штаты и города, а из продукции мы выбираем только AC и TV
df_w.loc[i_sl[:, :, ['AC', 'TV']], :]

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            TV           23      14      18      21      10
              San Diego     AC           11      22      10      29      24
                            TV           19      24      17      17      11
              San Francisco AC           10      14      10      16      17
                            TV           28      16      15      29      28
NY Warehouses Beacon        AC           13      11      23      13      20
                            TV           12      22      26      26      15
              Buffalo       AC           16      24      20      23      29
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
                            TV           13      13      11      15      12
TX Warehouses Arlington     AC           21      18      13      22      16
                            TV           15      20      22      25      23
              Austin        AC           15      28      28      11      11
                            TV           27      11      14      11      23
              Houston       AC           12      25      18      12      26
                            TV           11      18      22      21      26

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            TV           15      11      19      25      11
              San Diego     AC           24      24      11      18      27
                            TV           12      22      21      18      29
              San Francisco AC           20      28      25      27      11
                            TV           27      27      14      12      20
NY Warehouses Beacon        AC           26      10      12      14      10
                            TV           28      15      26      12      18
              Buffalo       AC           15      10      20      16      16
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
                            TV           15      27      17      10      25
TX Warehouses Arlington     AC           18      21      22      22      11
                            TV           20      23      21      13      26
              Austin        AC           12      15      25      29      16
                            TV           22      27      10      28      29
              Houston       AC           23      21      12      22      29
                            TV           18      18      12      15      26

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            TV           12      11      23      20      22
              San Diego     AC           29      10      16      28      12
                            TV           22      19      13      28      18
              San Francisco AC           19      18      22      13      16
                            TV           13      27      18      11      17
NY Warehouses Beacon        AC           28      26      21      26      29
                            TV           17      10      21      19      24
              Buffalo       AC           25      21      19      12      21
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
                            TV           20      27      17      16      13
TX Warehouses Arlington     AC           28      13      17      10      29
                            TV           28      28      21      16      22
              Austin        AC           20      16      20      14      14
                            TV           14      13      17      18      10
              Houston       AC           25      15      21      26      21
                            TV           22      11      18      29      28

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            TV           21      21      17      15      10
              San Diego     AC           19      10      15      20      15
                            TV           29      10      19      22      17
              San Francisco AC           13      21      16      15      23
                            TV           24      10      29      19      14
NY Warehouses Beacon        AC           12      29      18      20      24
                            TV           23      26      19      19      13
              Buffalo       AC           19      11      28      19      19
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
                            TV           23      15      26      15      28
TX Warehouses Arlington     AC           15      15      22      19      11
                            TV           21      14      12      16      20
              Austin        AC           13      26      27      21      16
                            TV           16      25      24      23      21
              Houston       AC           26      28      23      29      19
                            TV           24      22      24      25      17

## Пример 7.2

In [47]:
# можно выполнять довольно сложную выборку по нескольким осям одновременно
df_w.loc[i_sl[:, :, 'AC'], i_sl[[2010, 2014, 2019], :]]

Year                                   2010            2014            2019  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      15      17      25
              San Diego     AC           11      22      18      27      20
              San Francisco AC           10      14      27      11      15
NY Warehouses Beacon        AC           13      11      14      10      20
              Buffalo       AC           16      24      16      16      19
              Ithaca        AC           18      17      25      17      19
TX Warehouses Arlington     AC           21      18      22      11      19
              Austin        AC           15      28      29      16      21
              Houston       AC           12      25      22      29      29

Year
Semester                            Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           16
              San Diego     AC           15
              San Francisco AC           23
NY Warehouses Beacon        AC           24
              Buffalo       AC           19
              Ithaca        AC           22
TX Warehouses Arlington     AC           11
              Austin        AC           16
              Houston       AC           19

## Пример 7.3

In [48]:
# создаем булеву серию (по условию)
mask = df_w[(2010, 'Jan-Jun')] > 15
print(mask)
# используем сохраненную серию чтобы отфильтровать строки
df_w.loc[i_sl[mask, :, ['AC', 'TV']], :]

State          City           Product
CA Warehouses  Los Angeles    AC          True
                              Mobile      True
                              TV          True
               San Diego      AC         False
                              Mobile     False
                              TV          True
               San Francisco  AC         False
                              Mobile     False
                              TV          True
NY Warehouses  Beacon         AC         False
                              Mobile     False
                              TV         False
               Buffalo        AC          True
                              Mobile      True
                              TV          True
               Ithaca         AC          True
                              Mobile     False
                              TV         False
TX Warehouses  Arlington      AC          True
                              Mobile      True
                              TV         False
               Austin         AC         False
                              Mobile      True
                              TV          True
               Houston        AC         False
                              Mobile      True
                              TV         False
Name: (2010, Jan-Jun), dtype: bool

Year                                   2010            2011            2012  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      24      20      21      20
                            TV           23      14      18      21      10
              San Diego     TV           19      24      17      17      11
              San Francisco TV           28      16      15      29      28
NY Warehouses Buffalo       AC           16      24      20      23      29
                            TV           19      22      27      19      27
              Ithaca        AC           18      17      19      28      28
TX Warehouses Arlington     AC           21      18      13      22      16
              Austin        TV           27      11      14      11      23

Year                                           2013            2014          \
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           29      18      29      15      17
                            TV           15      11      19      25      11
              San Diego     TV           12      22      21      18      29
              San Francisco TV           27      27      14      12      20
NY Warehouses Buffalo       AC           15      10      20      16      16
                            TV           12      24      28      27      28
              Ithaca        AC           14      21      18      25      17
TX Warehouses Arlington     AC           18      21      22      22      11
              Austin        TV           22      27      10      28      29

Year                                   2015            2016            2017  \
Semester                            Jan-Jun Jul-Dec Jan-Jun Jul-Dec Jan-Jun
State         City          Product
CA Warehouses Los Angeles   AC           27      25      12      23      23
                            TV           12      11      23      20      22
              San Diego     TV           22      19      13      28      18
              San Francisco TV           13      27      18      11      17
NY Warehouses Buffalo       AC           25      21      19      12      21
                            TV           10      16      25      26      20
              Ithaca        AC           18      27      23      24      22
TX Warehouses Arlington     AC           28      13      17      10      29
              Austin        TV           14      13      17      18      10

Year                                           2018            2019
Semester                            Jul-Dec Jan-Jun Jul-Dec Jan-Jun Jul-Dec
State         City          Product
CA Warehouses Los Angeles   AC           14      29      25      25      16
                            TV           21      21      17      15      10
              San Diego     TV           29      10      19      22      17
              San Francisco TV           24      10      29      19      14
NY Warehouses Buffalo       AC           19      11      28      19      19
                            TV           25      10      27      20      20
              Ithaca        AC           12      11      12      19      22
TX Warehouses Arlington     AC           15      15      22      19      11
              Austin        TV           16      25      24      23      21