## Создание дубликатов

Создаем структуру DataFrame в переменной df1. Представим, что нам нужно продублировать каждую строчку датафрейма столько раз, сколько указано в соответствующей строке в столбце 'e'. В нашем примере стоит задача 5 раз продублировать строку с индексом ноль, 4 раза - строку с индексом 1 и т.д. до конца структуры. Решить такую задачу нам помогает метод np.repeat.

In [1]:
import pandas as pd
import numpy as np
df1 = pd.DataFrame(np.arange(25,0,-1).reshape(5,5).T, columns=list('abcde'))
df1

    a   b   c   d  e
0  25  20  15  10  5
1  24  19  14   9  4
2  23  18  13   8  3
3  22  17  12   7  2
4  21  16  11   6  1

Мы через конструктор DataFrame создаем новый датафрейм в переменной df2, передав в параметр data результат работы функции np.repeat, в columns передаем список имен колонок датафрейма df1, полученный через атрибут columns.

В свою очередь в функцию np.repeat первым аргументом передаем значения структуры df1 (массив, полученный через атрибут values), затем вторым аргументом - список python, полученный из столбца 'e' c помощью метода tolist, т.е. список, содержащий количество повторений для каждого соответствующего элемента массива (строки), третьим параметром передаем ось axis=0.

In [2]:
df2 = pd.DataFrame(np.repeat(df1.values, 
                             df1['e'].tolist(), 
                             axis=0),
                   columns=df1.columns)
df2

     a   b   c   d  e
0   25  20  15  10  5
1   25  20  15  10  5
2   25  20  15  10  5
3   25  20  15  10  5
4   25  20  15  10  5
5   24  19  14   9  4
6   24  19  14   9  4
7   24  19  14   9  4
8   24  19  14   9  4
9   23  18  13   8  3
10  23  18  13   8  3
11  23  18  13   8  3
12  22  17  12   7  2
13  22  17  12   7  2
14  21  16  11   6  1