# JSON

JSON-объект — это неупорядоченное множество пар «ключ:значение».

### Общие правила создания JSON-файла описывает RFC-стандарт:

- данные записаны в виде пар «ключ:значение»;
- данные разделены запятыми;
- объект находится внутри фигурных скобок {};
- массив находится внутри квадратных скобок [].

Есть и другие моменты:

- В JSON-формате используют двойные кавычки (“), одиночные кавычки (‘) не подходят. Но кавычки не нужны для любых значений, не являющихся строкой, — чисел, массивов, булевых значений.
- Одна лишняя или пропущенная запятая или скобка могут привести к сбою работы JSON-файла.
- JSON-формат не поддерживает комментарии. Добавление комментария вызовет ошибку.
- Автоматически сгенерированный JSON-файл не должен содержать ошибок, его лучше тоже проверить с помощью валидатора JSONLint.

Хранение и экспорт данных в JSON поддерживают современные реляционные базы данных, такие как PostgreSQL и MySQL.

Работа с данными в формате JSON

#### Для чтения данных в формате JSON используется метод read_json().

#### Сейчас немного потренируемся с чтением JSON файлов и буферов. В зависимости от того, каким образом отформатированы данные в JSON файле или буфере, используется то или иное значение параметра orient метода read_json().

In [ ]:
import pandas as pd
from io import StringIO
data = '{"a":{"0":1}}'
df = pd.read_json(StringIO(data))
df

In [1]:
import pandas as pd
from io import StringIO

#### orient='split'

In [2]:
json_1='{"columns": ["col_A", "col_B", "col_C"],"index": [0,1],"data": [["a1","b1","c1"],["a2","b2","c2"]]}'
df1=pd.read_json(StringIO(json_1), orient='split')
df1

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

#### orient='records'

In [3]:
json_2='[{"col_A": "a1", "col_B": "b1", "col_C":"c1"}, {"col_A":"a2", "col_B": "b2", "col_C": "c2"}]'
df2 = pd.read_json(StringIO(json_2), orient='record')
df2

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

#### orient='index'

In [4]:
json_3='{"0": {"col_A": "a1", "col_B": "b1", "col_C":"c1" }, "1": {"col_A": "a2", "col_B": "b2", "col_C":"c2" } }'
df3 = pd.read_json(StringIO(json_3), orient='index')
df3

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

#### orient='columns'

In [5]:
json_4='{"col_A": {"0": "a1", "1": "a2"},"col_B": {"0": "b1", "1":"b2"},"col_C": {"0": "c1", "1": "c2"}}'
df4 = pd.read_json(StringIO(json_4), orient='columns')
df4

  col_A col_B col_C
0    a1    b1    c1
1    a2    b2    c2

#### orient='values'

In [6]:
json_5='[["a1", "b1", "c1"], ["a2", "b2", "c2"]]'
df5 = pd.read_json(StringIO(json_5), orient='values')
df5

    0   1   2
0  a1  b1  c1
1  a2  b2  c2

### Запись данных в json

#### При работе с JSON довольно часто приходится преобразовывать уже готовые структуры данных в этот формат. 
#### Для этого используется функция to_json().

Два самых важных аргумента данного метода - это path_or_buf и orient, их назначение тоже, что и в методе read_json(), только сейчас речь идет о записи данных, т.е. мы указываем файл или буфер, в который будут помещены данные.

In [7]:
d = {'color':['red', 'green', 'blue'], 'size': ['XS', 'S', 'M'], 'price': [80, 65, 50]}
df = pd.DataFrame(d)
df

   color size  price
0    red   XS     80
1  green    S     65
2   blue    M     50

#### В зависимости от того, какого вида JSON файл (буфер) мы хотим получить, необходимо параметру orient присвоить соответствующее значение, рассмотрим различные варианты.

In [8]:
# orient='split':
json_split = df.to_json(orient='split')
json_split

'{"columns":["color","size","price"],"index":[0,1,2],"data":[["red","XS",80],["green","S",65],["blue","M",50]]}'

In [9]:
# orient='records':
json_records = df.to_json(orient='records')
json_records

'[{"color":"red","size":"XS","price":80},{"color":"green","size":"S","price":65},{"color":"blue","size":"M","price":50}]'

In [10]:
# orient='index':
json_index = df.to_json(orient='index')
json_index

'{"0":{"color":"red","size":"XS","price":80},"1":{"color":"green","size":"S","price":65},"2":{"color":"blue","size":"M","price":50}}'

In [11]:
# orient='columns':
json_columns = df.to_json(orient='columns')
json_columns

'{"color":{"0":"red","1":"green","2":"blue"},"size":{"0":"XS","1":"S","2":"M"},"price":{"0":80,"1":65,"2":50}}'

In [12]:
# orient='values':
json_values = df.to_json(orient='values')
json_values

'[["red","XS",80],["green","S",65],["blue","M",50]]'

### Открывем json по ссылке

In [13]:
df_json=pd.read_json('https://mdn.github.io/learning-area/javascript/oojs/json/superheroes.json', orient='index')

In [14]:
df_json

                                                            0
squadName                                    Super Hero Squad
homeTown                                           Metro City
formed                                                   2016
secretBase                                        Super tower
active                                                   True
members     [{'name': 'Molecule Man', 'age': 29, 'secretId...

In [15]:
df_json.loc['members'][0]

[{'name': 'Molecule Man',
  'age': 29,
  'secretIdentity': 'Dan Jukes',
  'powers': ['Radiation resistance', 'Turning tiny', 'Radiation blast']},
 {'name': 'Madame Uppercut',
  'age': 39,
  'secretIdentity': 'Jane Wilson',
  'powers': ['Million tonne punch',
   'Damage resistance',
   'Superhuman reflexes']},
 {'name': 'Eternal Flame',
  'age': 1000000,
  'secretIdentity': 'Unknown',
  'powers': ['Immortality',
   'Heat Immunity',
   'Inferno',
   'Teleportation',
   'Interdimensional travel']}]