# Работа с Excel файлами

### Чтение данных
Для чтения данных используется метод read_excel(). Он может работать как с файлами в формате Excel 2003 (расширение .xls), так и с файлами в формате Excel 2007 (расширение .xlsx).

In [1]:
import pandas as pd
import numpy as np

df_xlsx_sheet1 = pd.read_excel('files\\test_excel_1.xlsx', header=None)
# по умолчанию используется первый лист Книги Excel
# мы можем явно указать название листа, с которым будем работать
# df_xlsx_sheet1 = pd.read_excel('files\\test_excel_1.xlsm', sheet_name='Лист1', header=None)
df_xlsx_sheet1

      0           1  2        3
0  D001      платье  1  красный
1  S001        юбка  4  зеленый
2  D002      платье  8    синий
3  K001  комбенизон  6    белый
4  D003      платье  4    белый

Обратите внимание на параметр header. По умолчанию он равен нулю. Это означает, что заголовки столбцов лежат в строке с номером 0. В нашем случае у таблиц нет заголовков, поэтому нужно параметру header присвоить значение None.

In [2]:
df_xlsx_sheet2 = pd.read_excel('files\\test_excel_1.xlsx', sheet_name='Лист2', header=None)
df_xlsx_sheet2

   0  1  2
0  a  1  W
1  b  2  E
2  b  2  E
3  c  1  W
4  c  2  W

Для работы с Excel-файлом можно использовать класс ExcelFile, объекты которого связываются с определенным файлом на диске.
Объекты этого класса являются контекстными менеджерами, что делает возможным работу с конструкцией with:

In [3]:
with pd.ExcelFile('files\\test_excel_1.xlsx') as excel:
    df1 = pd.read_excel(excel, sheet_name='Лист1', header=None)
    display(df1)

      0           1  2        3
0  D001      платье  1  красный
1  S001        юбка  4  зеленый
2  D002      платье  8    синий
3  K001  комбенизон  6    белый
4  D003      платье  4    белый

In [4]:
# В самом простом случае, работа с ExcelFile может выглядеть вот так:

excel = pd.ExcelFile('files\\test_excel_1.xlsx')
df2 = pd.read_excel(excel, sheet_name='Лист2', header=None)
df2

   0  1  2
0  a  1  W
1  b  2  E
2  b  2  E
3  c  1  W
4  c  2  W

In [5]:
df3=df1.sort_values(by=0)
df3.columns=['Код товара', 'Наименование', 'Количество', 'Цвет']
df3

  Код товара Наименование  Количество     Цвет
0       D001       платье           1  красный
2       D002       платье           8    синий
4       D003       платье           4    белый
3       K001   комбенизон           6    белый
1       S001         юбка           4  зеленый

## Запись данных
Для записи данных в Excel-файл предварительно подготовим соответствующий DataFrame.

In [6]:
df3.to_excel('files\\test_excel_2.xlsx', sheet_name='Товары')