In [31]:
import pandas as pd
df_students = pd.read_csv(r"C:\Users\mashenike\Downloads\StudentPerformanceFactors.csv")

In [32]:
df_students

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,Family_Income,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score
0,23,84,Low,High,No,7,73,Low,Yes,0,Low,Medium,Public,Positive,3,No,High School,Near,Male,67
1,19,64,Low,Medium,No,8,59,Low,Yes,2,Medium,Medium,Public,Negative,4,No,College,Moderate,Female,61
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,Medium,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,Medium,Medium,Public,Negative,4,No,High School,Moderate,Male,71
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,Medium,High,Public,Neutral,4,No,College,Near,Female,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6602,25,69,High,Medium,No,7,76,Medium,Yes,1,High,Medium,Public,Positive,2,No,High School,Near,Female,68
6603,23,76,High,Medium,No,8,81,Medium,Yes,3,Low,High,Public,Positive,2,No,High School,Near,Female,69
6604,20,90,Medium,Low,Yes,6,65,Low,Yes,3,Low,Medium,Public,Negative,2,No,Postgraduate,Near,Female,68
6605,10,86,High,High,Yes,6,91,High,Yes,2,Low,Medium,Private,Positive,3,No,High School,Far,Female,68
6606,15,67,Medium,Low,Yes,9,94,Medium,Yes,0,Medium,Medium,Public,Positive,4,No,Postgraduate,Near,Male,64

In [33]:
df_students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6607 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6607 non-null   int64
 1   Attendance                  6607 non-null   int64
 2   Parental_Involvement        6607 non-null   object
 3   Access_to_Resources         6607 non-null   object
 4   Extracurricular_Activities  6607 non-null   object
 5   Sleep_Hours                 6607 non-null   int64
 6   Previous_Scores             6607 non-null   int64
 7   Motivation_Level            6607 non-null   object
 8   Internet_Access             6607 non-null   object
 9   Tutoring_Sessions           6607 non-null   int64
 10  Family_Income               6607 non-null   object
 11  Teacher_Quality             6529 non-null   object
 12  School_Type                 6607 non-null   object
 13  Peer_Influence              6607 non-null   object
 14  Physical_Activity           6607 non-null   int64
 15  Learning_Disabilities       6607 non-null   object
 16  Parental_Education_Level    6517 non-null   object
 17  Distance_from_Home          6540 non-null   object
 18  Gender                      6607 non-null   object
 19  Exam_Score                  6607 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [34]:
df_students['Sleep_Hours'].mean()

np.float64(7.029060087785682)

In [35]:
df_students = df_students.dropna()

In [36]:
df_students.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6378 entries, 0 to 6606
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6378 non-null   int64
 1   Attendance                  6378 non-null   int64
 2   Parental_Involvement        6378 non-null   object
 3   Access_to_Resources         6378 non-null   object
 4   Extracurricular_Activities  6378 non-null   object
 5   Sleep_Hours                 6378 non-null   int64
 6   Previous_Scores             6378 non-null   int64
 7   Motivation_Level            6378 non-null   object
 8   Internet_Access             6378 non-null   object
 9   Tutoring_Sessions           6378 non-null   int64
 10  Family_Income               6378 non-null   object
 11  Teacher_Quality             6378 non-null   object
 12  School_Type                 6378 non-null   object
 13  Peer_Influence              6378 non-null   object
 14  Physical_Activity           6378 non-null   int64
 15  Learning_Disabilities       6378 non-null   object
 16  Parental_Education_Level    6378 non-null   object
 17  Distance_from_Home          6378 non-null   object
 18  Gender                      6378 non-null   object
 19  Exam_Score                  6378 non-null   int64
dtypes: int64(7), object(13)
memory usage: 1.0+ MB

In [37]:
df_students['Exam_Score'].std()

np.float64(3.914216506751209)

In [38]:
q1 = df_students['Exam_Score'].quantile(0.25)
q3 = df_students['Exam_Score'].quantile(0.75)
iqr = q3 - q1

condition=(df_students['Exam_Score'] > q1 - 1.5 * iqr) & (df_students['Exam_Score'] < q3 + 1.5 * iqr)

df_students_new = df_students.loc[condition]
df_students_new.reset_index(drop=True, inplace=True)

In [39]:
df_students_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6188 entries, 0 to 6187
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Hours_Studied               6188 non-null   int64
 1   Attendance                  6188 non-null   int64
 2   Parental_Involvement        6188 non-null   object
 3   Access_to_Resources         6188 non-null   object
 4   Extracurricular_Activities  6188 non-null   object
 5   Sleep_Hours                 6188 non-null   int64
 6   Previous_Scores             6188 non-null   int64
 7   Motivation_Level            6188 non-null   object
 8   Internet_Access             6188 non-null   object
 9   Tutoring_Sessions           6188 non-null   int64
 10  Family_Income               6188 non-null   object
 11  Teacher_Quality             6188 non-null   object
 12  School_Type                 6188 non-null   object
 13  Peer_Influence              6188 non-null   object
 14  Physical_Activity           6188 non-null   int64
 15  Learning_Disabilities       6188 non-null   object
 16  Parental_Education_Level    6188 non-null   object
 17  Distance_from_Home          6188 non-null   object
 18  Gender                      6188 non-null   object
 19  Exam_Score                  6188 non-null   int64
dtypes: int64(7), object(13)
memory usage: 967.0+ KB

In [40]:

cat=[0,64,70,df_students_new['Exam_Score'].max()]

df_students_new['Score_type']= pd.cut(df_students_new['Exam_Score'], cat, 
    labels=['Low (<65)', 'Middle (65-70)', 'High (>70)'])

C:\Users\mashenike\AppData\Local\Temp\ipykernel_17356\4022895380.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_students_new['Score_type']= pd.cut(df_students_new['Exam_Score'], cat,

In [41]:
df_students_new.head()

,Hours_Studied,Attendance,Parental_Involvement,Access_to_Resources,Extracurricular_Activities,Sleep_Hours,Previous_Scores,Motivation_Level,Internet_Access,Tutoring_Sessions,...,Teacher_Quality,School_Type,Peer_Influence,Physical_Activity,Learning_Disabilities,Parental_Education_Level,Distance_from_Home,Gender,Exam_Score,Score_type
0,23,84,Low,High,No,7,73,Low,Yes,0,...,Medium,Public,Positive,3,No,High School,Near,Male,67,Middle (65-70)
1,19,64,Low,Medium,No,8,59,Low,Yes,2,...,Medium,Public,Negative,4,No,College,Moderate,Female,61,Low (<65)
2,24,98,Medium,Medium,Yes,7,91,Medium,Yes,2,...,Medium,Public,Neutral,4,No,Postgraduate,Near,Male,74,High (>70)
3,29,89,Low,Medium,Yes,8,98,Medium,Yes,1,...,Medium,Public,Negative,4,No,High School,Moderate,Male,71,High (>70)
4,19,92,Medium,Medium,Yes,6,65,Medium,Yes,3,...,High,Public,Neutral,4,No,College,Near,Female,70,Middle (65-70)

In [42]:
df_students_new['Score_type'].value_counts(normalize = True)

Score_type
Middle (65-70)    0.634615
Low (<65)         0.214932
High (>70)        0.150452
Name: proportion, dtype: float64

In [45]:
df_students_new['Family_Income'].value_counts(normalize = True)

Family_Income
Low       0.404008
Medium    0.403038
High      0.192954
Name: proportion, dtype: float64

In [47]:
df_students_new['Motivation_Level'].value_counts(normalize = True)

Motivation_Level
Medium    0.509211
Low       0.291209
High      0.199580
Name: proportion, dtype: float64

In [48]:
df_students_new['Teacher_Quality'].value_counts(normalize = True)

Teacher_Quality
Medium    0.600032
High      0.299127
Low       0.100840
Name: proportion, dtype: float64

In [56]:
pd.crosstab(df_students_new['School_Type'], df_students_new['Score_type'], normalize='all')*100

Score_type   Low (<65)  Middle (65-70)  High (>70)
School_Type
Private       6.270200       19.182288    4.993536
Public       15.223012       44.279250   10.051713

In [61]:
df_crosstab = pd.crosstab(df_students_new['Teacher_Quality'], df_students_new['Motivation_Level'])
df_crosstab

Motivation_Level  High   Low  Medium
Teacher_Quality
High               383   553     915
Low                125   146     353
Medium             727  1103    1883

In [62]:
from scipy.stats import chi2_contingency

In [63]:
chi2_contingency(df_crosstab)
chi2, p, dof, expected = chi2_contingency(df_crosstab)
# из полученных значений нам нужно только значение p
print(f"p-значение: {p}")

p-значение: 0.009757881964501962

In [64]:
df_crosstab = pd.crosstab(df_students_new['Teacher_Quality'], df_students_new['Score_type'])
df_crosstab

Score_type       Low (<65)  Middle (65-70)  High (>70)
Teacher_Quality
High                   346            1182         323
Low                    159             383          82
Medium                 825            2362         526

In [65]:
chi2_contingency(df_crosstab)
chi2, p, dof, expected = chi2_contingency(df_crosstab)
# из полученных значений нам нужно только значение p
print(f"p-значение: {p}")

p-значение: 0.00011068313554699906

In [66]:
df_crosstab = pd.crosstab(df_students_new['School_Type'], df_students_new['Score_type'])
df_crosstab

Score_type   Low (<65)  Middle (65-70)  High (>70)
School_Type
Private            388            1187         309
Public             942            2740         622

In [67]:
chi2_contingency(df_crosstab)
chi2, p, dof, expected = chi2_contingency(df_crosstab)
# из полученных значений нам нужно только значение p
print(f"p-значение: {p}")

p-значение: 0.1098269694098655